<%= render 'common/header' %>

</head>
<body>

	<%= render 'common/navbar' %>
	
	<div class="container">
		<div class="row">
			<div class="thumbnail">
				<center>
					<p>	<%= link_to 'Tese Mestrado de Pedro Teiga', "http://repositorio-aberto.up.pt/handle/10216/11051" %> 
					</p>
					<p>
						<%= link_to 'Tese Doutoramento de Pedro Teiga', "http://repositorio-aberto.up.pt/handle/10216/61206" %>
					</p>
				</center>
			</div>
		</div>
	</div>

	<%= render 'common/footer' %>