<%= render 'common/header' %>

</head>
<body>

	<%= render 'common/navbar' %>
	
	<div class="container">
		<div class="row">
			<div class="thumbnail">
					<center>
					<p>	<%= link_to 'Tese Mestrado de Pedro Teiga', "http://repositorio-aberto.up.pt/handle/10216/11051" %>
					</p>
					<p>
						<%= link_to 'Tese Doutoramento de Pedro Teiga', "http://repositorio-aberto.up.pt/handle/10216/61206" %>
					</p>

					<p>
						<%= link_to 'As passagens para peixes em Portugal', "http://rios.pt/documentos/As passagens para peixes em Portugal.pdf" %>
					</p>

					<p>
						<%= link_to 'Design guideline for the reintroduction of wood into Australian streams', "http://rios.pt/documentos/Design guideline for the reintroduction madeira _australia.pdf" %>
					</p>

					<p>
						<%= link_to 'Plano Nacional da Água', "http://rios.pt/documentos/PNA2015.pdf" %>
					</p>

					<p>
						<%= link_to 'Restauro e gestão ecológica fluvial',  "http://rios.pt/documentos/REP-A.Monteiroetal_controlo_cana_IN_MANUAL_RICOVER_2013.pdf" %>
					</p>

						<p>
							<%= link_to 'Restauración de Rios',  "http://rios.pt/documentos/Rios_B_Restauracion_tcm7-27570.pdf" %>
						</p>




					</center>
			</div>
		</div>
	</div>

	<%= render 'common/footer' %>