<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <div class="row">
    <h1>Projetos</h1>
  </div>

  <div class="row">
    <p>Desenvolvimento de Projetos multidisciplinares de reabilitação fluvial
      com a caracterização e levantamento de problemas e mais-valias a nível fluvial.
      Assim, desenvolvem-se soluções integradas para problemas recorrentes e fundamentais
      para a melhoria da qualidade de vida onde se destacam: limpezas de linhas de água
      (limpeza de resíduos e corte de vegetação); criação de corredores ecológicos
      (caracterização, seleção, recolha e aplicação de vegetação autóctone); estabilização de margens
      (técnicas de engenharia natural); criação de bacias de retenção (de funções múltiplas);
      estudos para definição de risco e limites de inundação de cheias; ações de participação
      pública; acompanhamento e fiscalização de obras de intervenção no âmbito de reabilitação
      fluvial e desenvolver estratégias municipais de intervenção fluvial.</p>
  </div>
  <div class="row">
    <p>Para a criação de um projeto de reabilitação considera-se fundamental a existência de
      etapas bem definidas, que sejam orientadoras para elaborar e concretizar processos e
      projetos de reabilitação. Definiram-se, como síntese, dez princípios de reabilitação, que
      pretendem ser guias de atuação na melhoria da sustentabilidade dos recursos hídricos em Portugal:</p>
    <ul>
      <li>P1. Promover a integridade ecológica e preservar a qualidade da água;</li>
      <li>P2. Aumentar o grau de liberdade do corredor fluvial;</li>
      <li>P3. Disponibilizar espaço e tempo para as funções e atividades ribeirinhas de acordo
        com o referencial (histórico, ecológico, ciclos);</li>
      <li>P4. Conhecer os problemas, prevenir a degradação, determinar o grau de vulnerabilidade
        e mitigar os impactes do processo de reabilitação;</li>
      <li>P5. Promover a função de corredor ecológico e a biodiversidade, com espécies autóctones dos
        rios e ribeiras;</li>
      <li>P6. Desenvolver projetos com objetivos claros, atingíveis e mensuráveis e com um desenho sustentável;</li>
      <li>P7. Atuar a favor da Natureza, numa conceção naturalista e realizar uma manutenção orientada
        (técnicas de Engenharia Natural, nomeadamente após cheias);</li>
      <li>P8. Estudar e acompanhar as alternativas em projetos, com indicadores e com competência
        técnica multidisciplinar;</li>
      <li>P9. Envolver os mediadores, decisores, parceiros, interventores e partes interessadas (<i>stakeholders</i>)
        com valores socialmente justos;</li>
      <li>P10. Integrar as ações em estratégias e nos planos de ordenamento do território.</li>
    </ul>
  </div>
  <div class="row">
    <h2>Descrição</h2>
    <p>A participação pública consiste no envolvimento ativo de autarquias, empresas,
      associações, escolas, população local e parceiros com diferentes interesses, nos
      processos de decisão de restauro e recuperação fluvial. É importante para a governança
      e fortalecimento das comunidades locais em torno da linha de água.</p>
  </div>
  <div class="row">
    <h2>Objetivos:</h2>
    <ul>
      <li>Renaturalização do domínio hídrico;</li>
      <li>Estabilização das margens;</li>
      <li>Controlo de espécies invasoras e promoção das espécies autóctones;</li>
      <li>Melhorar o escoamento da linha de água;</li>
      <li>Aumentar a biodiversidade local;</li>
      <li>Promover o uso racional e adequado aos espaços ribeirinhos;</li>
      <li>Limpeza de material residual orgânico e urbano;</li>
      <li>Promover a educação ambiental.</li>
    </ul>
  </div>

  <div class="row">
    <h2>Tipos de intervenção:</h2>
    <ul>
      <li>Restauração</li>
      <li>Reabilitação</li>
      <li>Renaturalização</li>
      <li>Requalificação</li>
      <li>Regularização</li>
    </ul>
  </div>

  <div class="row">
    <h2>O meu rio precisa de um Projeto?</h2>
    <p>Mais de 48% dos rios em Portugal estão em mau estado ambiental. Os 52% restantes em quase
      todas as linhas de água podemos encontrar casos pontuais de problemas como: cheias, invasoras,
      erosão, poluição, canalização, silvados, etc.</p>
    <p>Deveremos atuar primeiro nas linhas de água que carecem com os maiores problemas, e para isso
      estamos especialmente focados para linhas de água que obtenham resultados entre 4 e 5 na avaliação
      do IRR (Índice de Reabilitação de Rios).</p>
  </div>

  <div class="row">
    <h2>As melhores Técnicas para projetos</h2>
    <p>Técnicas de Engenharia Natural com possibilidade de serem aplicadas:</p>
    <ol>
      <li>Gabião vivo
        <p>A aplicação desta técnica é essencialmente para desempenhar a função de proteção contra a
        erosão fluvial e ao mesmo tempo servir de suporte à margem em caso de instabilidade gravítica.
        Este tipo de técnicas usa estruturas com elevada permeabilidade e flexibilidade.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/gabioes.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Muro vivo
        <p>Construção em madeira constituída por uma estrutura em forma de caixa, formada por troncos
          de madeira dispostos perpendicularmente, uns em relação aos outros. O seu revestimento
          interior deverá ser feito com pedra na base, até atingir o nível médio das águas, e a restante
          área de enchimento poderá ser bastante diversificada, consoante as necessidades do local a
          requalificar, mas essencialmente poderá ser constituída por terreno local, espécies arbustivas
          autóctones em torrão ou raiz nua, estacas vivas ou faxinas.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/cribwall.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Enrocamento vivo
        <p>Trata-se de uma técnica de defesa longitudinal contra a erosão das margens fluviais que
          consiste na colocação de pedras de grandes dimensões nas margens. Nos interstícios entre
          pedras são colocadas estacas vivas (espécies autóctones), em quincôncio e com cerca de 1,0 a
          1,5 metros de comprimento. Nos enrocamentos, as estacas colocadas nos espaços entre as pedras
          devem ser inseridas até atingirem o solo.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/enrrocamento.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Manto de fibra de cocô
        <p>O solo da margem é trabalhado até ter uma inclinação de 30º-45º de declive, onde é então
          estendida a manta de fibra de cocô da base (junto à água) até ao topo. São colocadas estacas no
          solo em toda a sua área com espaçamento na transversal e longitudinal de 90-100 cm. Estas estacas
          são ligadas entre si, transversalmente e/ou longitudinalmente por mais estacas que são colocadas por
          cima da manta de fibra de coco e pregadas, no mínimo a 3 estacas enterradas para manter a manta de
          fibra de coco no solo. Podem ser utilizadas estacas vivas no solo para prender a manta.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/fibra.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Estacaria viva
        <p>Esta técnica consiste na execução de estacaria de espécies autóctones vizinhas à área de intervenção.
          Quanto maior for a estaca, maior será a profundidade em que se desenvolverão as raízes e portanto maior
          será a estabilidade. A sua aplicação no terreno deve garantir que a estaca esteja sempre em humidade
          permanente, isto é que seja atingido o nível freático, especialmente no verão.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/estacaria.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Plantações de árvores e arbustos autóctones
        <p>Pontualmente recorre-se à plantação de árvores e arbustos autóctones com dimensões compreendidas
          entre 40 cm e 1 m para favorecer o desenvolvimento junto a caminhos e parques de lazer.</p>
      </li>
      <li>Faxinas vivas
        <p>Esta técnica de estabilização de margens refere-se de uma construção hidráulica longitudinal,
          utilizada na consolidação de bases de margens fluviais. Consiste na elaboração de feixes de
          ramas vivas ou não, com um diâmetro variável e um comprimento adaptado à aplicação projetada
          variando entre 2 e 4 metros.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/faxinas.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Entrançado vivo
        <p>Consiste numa estrutura linear onde as estacas vivas se encontram dispostas de forma
          entrançada entre prumos de madeira verticais cravados no terreno, formando uma parede flexível
          e altamente resistente à erosão provocada pela água.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/entrancado.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
      <li>Micro e mini açudes
        <p>Fundamental para evitar a incisão do leito, facilitar a prática de rega de campos agrícolas,
          promover a oxigenação e autodepuração da água e aumentar a heterogeneidade de habitats para as
          espécies aquáticas. Os açudes podem ser construídos com pedra local ou da região e com troncos
          de árvores existentes no local.</p>
      </li>
      <li>Construção de charco
        <p>Os charcos são massas de água parada ou de corrente muito reduzida, de carácter permanente
          ou temporário (Figuras 37 e 38). A preparação do terreno é criada através de uma marcação no local,
          contornando a área a escavar com estacas unidas por um cordel ou fazendo uma pequena vala para
          escavação. O charco deverá ter uma profundidade superior a 1,5m.</p>
        <div class="col-xs-6 col-md-6 center-block" style="float: none">
          <%= image_tag('projetos/charco.png',
                        :class => 'img-responsive center-block') %>
        </div>
      </li>
    </ol>

  </div>


</div>

<%= render 'common/footer' %>