<%= simple_form_for @route, html: { multipart: true, :"data-edit" => @edit, :"data-route-id" => @route.id } do |f| %>
    <% #= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <div class="form-group container">

        <div class="row">
          <div class="col-xs-12">
            <%= f.label :nome, "Nome da rota:" %>
            <%= f.text_field :nome, :id => 'nome-rota', :class => 'text_field form-control', :required => true %>
          </div>
          <div class="col-xs-12">
            <%= f.label :descricao, "Descrição da rota:" %>
            <%= f.text_area :descricao, :id => 'descricao-rota', :class => 'text_field form-control', :required => true, :rows => 10%>
          </div>
          <div class="col-xs-12">
            <%= f.label :zona, "Zona onde se encontra a rota:" %>
            <%= f.text_field :zona, :id => 'zona-rota', :class => 'text_field form-control', :required => true %>
          </div>
          <div class="col-xs-12">
            <%= f.check_box :publicada, :id => 'publicada-rota' %>
            <%= f.label :publicada, "Publicar rota" %>
            <p><strong>Nota:</strong> Selecionar <strong>"Publicar Rota"</strong> se a rota estiver já completa, sendo que ficará visível para o público. Se ainda estiver em edição, deixar desmarcada.</p>
          </div>

        </div>
      </div>

      <!--<div class="form-actions">
        <% #= f.button :submit, 'Adicionar Rota' %>
      </div>-->
    </div>
<% end %>

<div class="row">
  <h2>Pontos da rota</h2>
  <p>Clique no mapa para adicionar pontos. Para remover um ponto, basta clicar no marcador referente ao mesmo no mapa.</p>
  <div id="add-route-points-map" class="col-xs-12 route-points-map"></div>

  <div id="left-panel-forms" class="col-xs-8">
    <h3>Informações sobre os pontos:</h3>
    <% if @edit %>
        <% @points.each do |p| %>
          <%
             partial_lat = number_with_precision(p[:lat], precision: 14).to_s.gsub! '.', '_'
             partial_lon = number_with_precision(p[:lon], precision: 14).to_s.gsub! '.', '_'
             partial_id = "#{partial_lat}-#{partial_lon}"
          %>

            <div id="marker-form-<%= partial_id %>" class="thumbnail">
              <div class="row">
                <div class="col-xs-12">
                  <h4><span class="nome-ponto-<%= partial_id %>"><%= p[:nome] %></span></h4>
                </div>
                <div class="col-md-4">
                  Nome:<input id="input-nome-<%= partial_id %>" type="text-field" name="nome" class="form-control" value="<%= p[:nome] %>"/>
                </div>
                <div class="col-md-4">
                  Latitude:<input type="text-field" name="lat" class="form-control" readonly="true" value="<%= p[:lat] %>"/>
                </div>
                <div class="col-md-4">
                  Longitude:<input type="text-field" name="lon" class="form-control" readonly="true" value="<%= p[:lon] %>"/>
                </div>
                <div class="col-md-12">
                  <textarea type="text-field" name="descricao" class="form-control"  rows="4" placeholder="Insira uma descrição" ><%= p[:descricao] %></textarea>
                </div>
                <div class="form-group container col-md-12">
                  <div id="img-filenames-sep-<%=partial_id%>"></div>
                  <div class="rota-point-imgs">
                    <button id="btn-sep-<%=partial_id%>" class="btn btn-primary btn-add-img-rota-point" type="button"> Adicionar imagens </button>
                    <input type="file" name="image" class="rota-point-img-input" id="pt-sep-<%=partial_id%>" accept="image/png,image/gif,image/jpeg" style="display:none">
                  </div>
                </div>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>

  <div id="right-panel-drags" class="col-xs-4">
    <h3>Ordem dos pontos:</h3>
    <h5>Arraste os vários pontos para definir a sua posição na rota</h5>
    <ul id="route-points-sortable">
      <% if @edit %>
          <% @points.each do |p| %>
              <%
                 partial_lat = number_with_precision(p[:lat], precision: 14).to_s.gsub! '.', '_'
                 partial_lon = number_with_precision(p[:lon], precision: 14).to_s.gsub! '.', '_'
                 partial_id = "#{partial_lat}-#{partial_lon}"
              %>
              <li id="marker-sortable-<%= partial_id %>" class="ui-state-default"> <span class="glyphicon glyphicon-resize-vertical"></span> <span class="nome-ponto-<%= partial_id %>"><%= p[:nome] %></span></li>
          <% end %>
      <% end %>

    </ul>

  </div>
</div>

<button id="submit-rota" class="btn btn-primary">Guardar Rota</button>
