<%= render 'common/header' %>
<%= stylesheet_link_tag "routes" %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <h1>Rotas Rios+ <% if user_signed_in? and current_user.permissoes > 4 %><%= link_to "Nova Rota", new_route_path, class: "btn btn-primary" %> <% end %></h1>

  <% if !flash[:notice].blank? %>
      <div id="notice" class="alert alert-success"> <%= notice %> </div>
  <% else %>
  <% end %>
  <% left = true %>
  <% @routes.each_with_index {|route, index| %>
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
        <div class="card routes-index-item">
          <div class="card-image">

            <% if !@images[index].nil? %>
              <%= link_to image_tag(@images[index].image, :class => 'img-responsive', :alt => "Imagem de #{route.nome}"), route_path(route)  %>
            <% else %>
                <%= link_to image_tag("http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png", :class => 'img-responsive', :alt => "Imagem de #{route.nome}"), route_path(route)  %>
            <% end %>
            <!--<span class="card-title">Material Cards</span>-->
          </div>

          <div class="card-content">
            <h4><%= link_to route.nome, route_path(route) %></h4>
            <p class="descricao"><%= route.descricao %></p>
          </div>

          <div class="card-action">
            <p><b>Zona:</b> <%= route.zona %></p>
          </div>
        </div>
      </div>

  <% } %>
  <%= will_paginate @routes, :previous_label => 'Anterior', :next_label => 'Seguinte' %>
</div>

<%= render 'common/footer' %>
<%= javascript_include_tag 'external/jquery.autoellipsis-1.0.10.min' %>
<%= javascript_include_tag 'routes-index' %>

