<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <h1>Rotas Rios+ <%= link_to "Nova Rota", new_route_path, class: "btn btn-primary" %></h1>

  <% if !flash[:notice].blank? %>
      <div id="notice" class="alert alert-success"> <%= notice %> </div>
  <% else %>
  <% end %>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Zona</th>
        <th>Data de criação</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
      <% @routes.each do |route| %>
          <tr>
            <td><%= route.id %></td>
            <td><%= route.nome %></td>
            <td><%= route.zona %></td>
            <td><%= route.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= link_to 'Ver', route_path(route) %></td>
            <td><%= link_to 'Editar', edit_route_path(route) %></td>
            <td><%= link_to 'Apagar', route_path(route), method: :delete, data: {:confirm => "Tem a certeza que quer apagar a rota?"} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render 'common/footer' %>
