

<%= render 'common/header' %>

<%= stylesheet_link_tag "routes" %>
<%= stylesheet_link_tag "external/jquery-ui.min.css" %>

</head>

<body>

<%= render 'common/navbar' %>

<div class="container">
  <h1>Nova Rota</h1>
  <%= render 'form' %>

  <%= link_to 'Voltar atrás', routes_path %>
</div>

<%= render 'common/footer' %>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%= javascript_include_tag 'routes-edit' %>
<%= javascript_include_tag 'rota_point_image' %>