
<%= simple_form_for @trip, html: { multipart: true, :"data-edit" => @edit, :"data-trip-id" => @trip.id } do |f| %>
    <% #= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <div class="form-group container">

        <div id="rio-nome" class="rio-info form-inline">
          <div class="row">
            <div class="thumbnail">

              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <%= f.label :idRio, "Código do rio:" %>
                  <%= f.text_field :idRio, :id => 'codigo-rio', :class => 'text_field form-control',
                                   :readonly => true, :placeholder => "Clique em cima do rio para selecionar", :required => true %>
                </div>
                <div class="col-md-6 col-xs-12">
                  <%= f.label :nomeRio, "Nome do rio:" %>
                  <%= f.text_field :nomeRio, :id => 'nome-rio', :class => 'text_field form-control',
                                   :readonly => true, :placeholder => "Clique em cima do rio para selecionar", :required => true %>
                </div>
                <% if @edit %>
                    <div class="col-md-6 col-xs-12">
                      <%= label_tag 'created-at' do %>
                          Iniciada em:
                      <% end %>
                      <%= text_field_tag 'created-at', @trip.created_at.strftime("%d/%m/%Y - %H:%M"), {:class => 'text_field form-control',  :readonly => true }%>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <%= label_tag 'nome-user' do %>
                          Criada por:
                      <% end %>
                      <%= text_field_tag 'nome-user', current_user.nome, {:class => 'text_field form-control',  :readonly => true }%>
                    </div>
                <% end %>
              </div>
              <% if !@edit %>
                <%= render 'mapa/mapa' %>
              <% end %>
            </div>
          </div>
        </div>

        </div>

      <!--<div class="form-actions">
      </div>-->
    </div>
    <% if !@edit %>
        <%= f.button :submit, 'Iniciar Trip' %>
    <% end %>
<% end %>
<% if @edit %>
    <div class="row">
      <div class="col-xs-12">
        <h2>Pontos da rota</h2>
        <p>Pode adicionar um ponto à trip clicando no mapa, ou utilizando as funcionalidades de localização GPS do seu dispositivo, clicando no botão indicado. Para remover o ponto, basta clicar no marcador referente ao mesmo no mapa.</p>
      </div>

      <div class="col-xs-12" id="map-wrapper">
        <div id="add-trip-points-map" class="col-xs-12"></div>

        <div id="over-map-container">
          <button id="add-gps-point-trip" class="btn btn-primary" disabled="disabled">Adicionar Ponto GPS</button>
        </div>
      </div>

      <div id="points-info" style="display: none">
        <% @points.each do |p| %>
          <div class="point-info" data-point-id="<%= p.id%>" data-point-lat="<%= p.lat%>" data-point-lon="<%= p.lon%>" data-point-descricao="<%= p.descricao%>"></div>
        <% end %>
      </div>

      <div id="left-panel-forms" class="col-xs-12">
        <h3>Informações sobre os pontos:</h3>
        <div id="form-current-marker" class="thumbnail">
          <div class="row">
            <div class="col-md-4">
              Nome:<input id="point-nome" type="text-field" name="nome" class="form-control empty-this" value="" disabled="disabled"/>
            </div>
            <div class="col-md-4">
              Latitude:<input id="point-lat" type="text-field" name="lat" class="form-control" readonly="true" value="Nenhum ponto selecionado..."/>
            </div>
            <div class="col-md-4">
              Longitude:<input id="point-lon" type="text-field" name="lon" class="form-control" readonly="true" value="Nenhum ponto selecionado..."/>
            </div>
            <div class="col-md-12">
              <textarea id="point-text" type="text-field" name="descricao" class="form-control empty-this"  rows="4" placeholder="Insira uma descrição" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="form-group container">
            <div id="img-filenames"></div>
            <div id="trip-point-imgs">
              <button id="btn-add-img-trip-point" class="btn btn-primary" type="button" disabled="disabled"> Adicionar imagens </button>
              <%= file_field_tag "images[]", type: :file, multiple: true, accept: 'image/png,image/gif,image/jpeg', style: 'display:none', id: "trip-point-img-input" %>
            </div>
          </div>
          <button id="add-point-btn" class="btn btn-success" disabled="disabled">Adicionar Ponto</button>
        </div>
      </div>

    </div>
<% end %>

<!--<button id="submit-rota" class="btn btn-primary">Guardar Rota</button>-->
