<%= render 'common/header' %>

<%= stylesheet_link_tag "trips" %>
<%= stylesheet_link_tag "external/jquery-ui.min.css" %>

</head>

<body>

<%= render 'common/navbar' %>

<div class="container">
  <h1>Adicionar Pontos ao Trip no/a <%= @trip.nomeRio %></h1>
  <%= render 'form' %>

  <%= link_to 'Mostrar', @trip %> |
  <%= link_to 'Voltar atrás', trips_path %>

</div>

<%= render 'common/footer' %>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%= javascript_include_tag 'trips' %>
<%= javascript_include_tag "trip_image" %>
