<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <h1>Minhas Trips <%= link_to "Nova Trip", new_trip_path, class: "btn btn-primary" %></h1>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr>
        <th>Id</th>
        <th>Rio</th>
        <th>Criado em</th>
        <th>Editado em</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
      <% @trips.each do |trip| %>
          <tr>
            <td><%= trip.id %></td>
            <td><%= link_to trip.nomeRio, trip_path(trip.idRio) %></td>
            <td><%= trip.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= trip.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= link_to 'Ver', trip_path(trip) %></td>
            <td><%= link_to 'Editar', edit_trip_path(trip) %></td>
            <td><%= link_to 'Apagar', trip_path(trip), method: :delete, data: {:confirm => "Tem a certeza que quer apagar a trip?"} %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @trips, :previous_label => 'Anterior', :next_label => 'Seguinte' %>
</div>

<%= render 'common/footer' %>