<%= render 'common/header' %>
<%= stylesheet_link_tag "chart-irr" %>
<%= stylesheet_link_tag "rio" %>
<%= stylesheet_link_tag "external/datepicker" %>
</head>
<body>

<%= render 'common/navbar' %>

<div class="container">
  <h1 id="perfil-rio-title">Informações rio</h1>
  <div id="rio-info">
    <table id="" class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Cód. Bacia</th>
          <th class="col-md-5">Designação</th>
          <th class="col-md-5">Tipologia</th>
        </tr>
      </thead>
      <tr>
        <td id="cod-rio" value=<%=@rio_id%>><%= @rio_id %></td>
        <td id="designacao-rio"></td>
        <td id="tipologia-rio"></td>
      </tr>
    </table>

    <!--<h3>Afluência do rio:</h3>
    <table id="rios-pais" class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Cód. Rio</th>
          <th class="col-md-5">Designação</th>
          <th class="col-md-2">Tipo</th>
          <th class="col-md-2">Bacia</th>
          <th class="col-md-1">Mais info.</th>
        </tr>
      </thead>
    </table>

    <h3>Afluentes deste rio:</h3>
    <table id="rios-afluentes" class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Cód. Rio</th>
          <th class="col-md-5">Designação</th>
          <th class="col-md-2">Tipo</th>
          <th class="col-md-2">Bacia</th>
          <th class="col-md-1">Mais info.</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>-->
  </div>

  <h2> Índice de Reabilitação de Rios (IRR) </h2>

  <% if @has_irr == 'yes' %>

      <div id="irr-info">Preencha os campos abaixo do gráfico para obter informações relativas ao IRR deste rio.</div>
    <div class="table-responsive">
      <table class="table" id="irr">
        <tr>
          <th>Número de formulários respondidos</th>
          <th>Hidrogeomorfologia</th>
          <th>Qualidade da agua</th>
          <th>Alterações antrópicas</th>
          <th>Corredor ecológico</th>
          <th>Participação pública</th>
          <th>Organização e planeamento</th>
          <th>IRR total</th>
        </tr>
        <tr>
          <td id="irr_nr_forms">-</td>
          <td id="irr_hidrogeomorfologia">-</td>
          <td id="irr_qualidadedaagua">-</td>
          <td id="irr_alteracoesantropicas">-</td>
          <td id="irr_corredorecologico">-</td>
          <td id="irr_participacaopublica">-</td>
          <td id="irr_organizacaoeplaneamento">-</td>
          <td id="irr_total">-</td>
        </tr>
      </table>
    </div>
    <canvas id="chart-irr"></canvas>
      <p>Abaixo poderá refinar alguns parâmetros de forma a obter informações sobre o IRR mais específicas.
        Pode escolher um intervalo de datas, uma localização e um raio à volta dessa localização. Após escolher os parâmetros desejados, clique em "Atualizar IRR".</p>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="start_date_picker">Data Início</label>
          <div class="col-sm-4">
            <div class="input-group" id="start_date_picker" data-date="23-12-2015" data-date-format="dd-mm-yyyy" >
              <input class="form-control" type="text" value="23-12-2015" data-date-format="dd-mm-yyyy">
              <span class="input-group-addon "><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="start_date_picker">Data Fim</label>
          <div class="col-sm-4">
            <div class="input-group" id="end_date_picker" data-date="23-12-2015" data-date-format="dd-mm-yyyy" >
              <input class="form-control" type="text" value="23-12-2015" data-date-format="dd-mm-yyyy">
              <span class="input-group-addon "><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2 col-sm-offset-2" for="radius_picker">Raio (m)</label>
          <div class="col-sm-4" id="radius_picker">
            <input id="radius-irr" class="form-control" type="number" value="100">
          </div>
        </div>

        <div id="erros-update-irr" class="control-label col-sm-8 col-sm-offset-2" style="text-align: center"></div>

        <div class="form-group">
          <div class="control-label col-sm-2 col-sm-offset-4">
            <button id="update-irr-btn" class="btn btn-primary">Atualizar IRR</button>
          </div>
        </div>
      </form>

    <div class="col-xs-12" id="map-wrapper">
      <div id="profile-rio-map" class="col-xs-12"></div>
      <div id="over-map-container">
        <button id="current-location-map-btn" class="btn btn-primary" >Ir para localização atual</button>
      </div>
    </div>



  <% else %>
  <i>Não existem dados relativos ao IRR deste rio...</i>
  <% end %>
  <h2>Galeria</h2>

  <div class="row">
    <div class="thumbnail">
      <div id="form_irr-imgs">
        <% if !@imgs.nil? && !@imgs.empty? %>
            <div id="show-form_irr-imgs">
              <div class="row">
                <% @imgs.each do |img|%>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <%= image_tag(img.image, :class => 'img-responsive') %>
                    </div>
                <% end %>
              </div>
            </div>
        <% else %>
            <h4>Não existem fotografias deste rio...</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render 'common/footer' %>
<%= javascript_include_tag 'external/PageMe.js' %>
<%= javascript_include_tag "external/bootstrap-datepicker" %>
<%= javascript_include_tag "rio" %>

