<%= render 'common/header' %>
<%= stylesheet_link_tag "chart-irr" %>
<%= stylesheet_link_tag "rio" %>
</head>
<body>

<%= render 'common/navbar' %>

<div class="container">
  <h1 id="perfil-rio-title">Informações rio</h1>
  <div id="rio-info">
    <table id="" class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Cód. Bacia</th>
          <th class="col-md-5">Designação</th>
          <th class="col-md-5">Tipologia</th>
        </tr>
      </thead>
      <tr>
        <td id="cod-rio" value=<%=@rio_id%>><%= @rio_id %></td>
        <td id="designacao-rio"></td>
        <td id="tipologia-rio"></td>
      </tr>
    </table>

    <!--<h3>Afluência do rio:</h3>
    <table id="rios-pais" class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Cód. Rio</th>
          <th class="col-md-5">Designação</th>
          <th class="col-md-2">Tipo</th>
          <th class="col-md-2">Bacia</th>
          <th class="col-md-1">Mais info.</th>
        </tr>
      </thead>
    </table>

    <h3>Afluentes deste rio:</h3>
    <table id="rios-afluentes" class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Cód. Rio</th>
          <th class="col-md-5">Designação</th>
          <th class="col-md-2">Tipo</th>
          <th class="col-md-2">Bacia</th>
          <th class="col-md-1">Mais info.</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>-->
  </div>

  <h2> Índice de Reabilitação de Rios (IRR) </h2>

  <% if @has_irr == 'yes' %>

      <div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control">
        <div class="datepicker input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>

    <div class="table-responsive">
      <table class="table" id="irr">
        <tr>
          <th>Número de formulários respondidos</th>
          <th>Hidrogeomorfologia</th>
          <th>Qualidade da agua</th>
          <th>Alterações antrópicas</th>
          <th>Corredor ecológico</th>
          <th>Participação pública</th>
          <th>Organização e planeamento</th>
          <th>IRR total</th>
        </tr>
        <tr>
          <td id="irr_nr_forms"><%= @form_irrs.count %></td>
          <td id="irr_hidrogeomorfologia"><%= @avg_hidrogeomorfologia %></td>
          <td id="irr_qualidadedaagua"><%= @avg_qualidadedaagua %></td>
          <td id="irr_alteracoesantropicas"><%= @avg_alteracoesantropicas %></td>
          <td id="irr_corredorecologico"><%= @avg_corredorecologico %></td>
          <td id="irr_participacaopublica"><%= @avg_participacaopublica %></td>
          <td id="irr_organizacaoeplaneamento"><%= @avg_organizacaoeplaneamento %></td>
          <td id="irr_avg"><%= @avg_irr %></td>
          <td id="irr_total"><%= @irr_total %></td>
        </tr>
      </table>
    </div>
    <canvas id="chart-irr"></canvas>
  <% else %>
  <i>Não existem dados relativos ao IRR deste rio...</i>
  <% end %>
  <h2>Galeria</h2>

  <div class="row">
    <div class="thumbnail">
      <div id="form_irr-imgs">
        <% if !@imgs.nil? && !@imgs.empty? %>
            <div id="show-form_irr-imgs">
              <div class="row">
                <% @imgs.each do |img|%>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <%= image_tag(img.image, :class => 'img-responsive') %>
                    </div>
                <% end %>
              </div>
            </div>
        <% else %>
            <h4>Não existem fotografias deste rio...</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render 'common/footer' %>
<%= javascript_include_tag 'external/PageMe.js' %>
<%= javascript_include_tag "rio" %>
