<div>
  <h2>SOS rios+</h2>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Rio</th>
        <th>Utilizador</th>
        <th>Data de denúncia</th>
        <th>Categoria</th>
        <th>Mostrar</th>
        <th>Apagar</th>
      </tr>
      </thead>
      <tbody>
      <% @reports.each do |report| %>
          <tr>
            <td><%= link_to report.nome_rio, rio_path(report.rio) %></td>
            <% username = User.find(report.user_id).nome %>
            <td><%= report.user_id %> - <%= username %></td>
            <td><%= report.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= report.categoria %></td>
            <td><%= link_to 'Mostrar', report %></td>
            <td><%= link_to 'Apagar', report, method: :delete, data: {confirm: 'Tem a certeza que pretende apagar?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @reports, :previous_label => 'Anterior', :next_label => 'Seguinte' %>
</div>