<%= render 'common/header' %>
<%= stylesheet_link_tag "admin" %>
</head>
<body>
<%= render 'common/navbar' %>

<div id="wrapper">

  <%= render 'common/sidebar_admin' %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-xs-12">
          <h1>Painel de Administração  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a></h1>
        </div>

        <form method="GET" action="" class="form">
          <div id="user-search-container" class="col-md-3 col-xs-12 input-group pull-right">
            <input id="search-input" type="text" class="form-control" placeholder="Pesquisar..." name="pesquisa" <% if !@search_query.nil? %> value="<%=@search_query%>" <% end %>>
            <div class="input-group-btn">
              <button  class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>

      <%# INSERT HERE THE PAGE TO SHOW %>

      <% case @index_page %>
      <% when 'users' %>
          <%= render 'index_users' %>
      <% when 'form_irrs' %>
          <%= render 'index_form_irrs' %>
      <% when 'reports' %>
          <%= render 'index_reports' %>
      <% when 'rotas' %>
          <%= render 'index_rotas' %>
      <% when 'trips' %>
          <%= render 'index_trips' %>
      <% when 'guardarios' %>
          <%= render 'index_guardarios' %>
      <% when 'limpezas' %>
          <%= render 'index_limpezas' %>
      <% else %>
          <h2> Não disponível </h2>
      <% end %>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<%= render 'common/footer' %>

<%= javascript_include_tag 'admin' %>

