<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>


<div class="container">
  <h1> Admin panel </h1>

  <p id="notice"><%= notice %></p>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Data de criação</th>
        <th>Nº de logins </th>
        <th>Nível Acesso</th>
        <th> Atribuir permissões </th>

      </tr>
      <form action="changePermissions" method="POST">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <% @users.each_with_index do |user,index| %>

            <tr>
            <td><%= user.id %></td>
            <td><%= user.nome %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.permissoes %></td>
            <td>


            <div class="form-group">
              <select name="atribuir-permissao-<%= index %>" class="form-control">
                <option disabled selected> </option>
                <option value="<%= user.id  %>-1"> 1 - Proprietários (população em geral) </option>
                <option value="<%= user.id  %>-2"> 2 - Técnicos e Estudantes univ. </option>
                <option value="<%= user.id  %>-3"> 3 - Chefia de municipios </option>
                <option value="<%= user.id  %>-4"> 4 - Multimunicipios </option>
                <option value="<%= user.id  %>-5"> 5 - Técnicos ERio </option>
                <option value="<%= user.id  %>-6"> 6 - Admin. Erio </option>
              </select>
            </div>



        </td>


          </tr>
      <% end %>
      <input type="submit">
      </form>


    </table>
  </div>
</div>

<%= render 'common/footer' %>
