<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">

  <h2> Limpeza de rios </h2>
  <span class="row vertical-space"></span>

  <p> A vegetação ripícola tem maior importância na determinação e garantia da
    funcionalidade da linha de água, seja ela hidrológica, hidráulica ou biológica,
    influenciando determinantemente a qualidade, o bom estado e o potencial da mesma. </p>
  <p> É imperativo, portanto, assegurar uma adequada gestão dessa vegetação, de
    modo a garantir que ela cumpra adequadamente as diferentes funções, no contexto de
    conservação e valorização das linhas de água. Importa, pois, controlar a vegetação de
    forma a maximizar a sua funcionalidade técnica e garantir a perenidade da mesma.
    Este tipo de intervenção apresenta vários objetivos (Teiga, 2011): </p>

  <ul>
    <li>Assegurar a estabilidade das margens através da manutenção e favorecimento
      dum coberto vegetal ripícola adequado (sistema radicular fixador do solo e
      parte arbórea, garantindo uma boa cobertura das margens, e evitando, ao
      mesmo tempo, a abertura de "feridas" por descalçamento e queda de árvores
      demasiado grandes, mal enquadradas ou isoladas;</li>

    <li>Evitar formações de zonas de acumulação de detritos flutuantes e de excessiva
      turbulência por poderem originar ruturas da margem; </li>
    <li>	 Manter e melhorar as funções ecológicas e estéticas da vegetação. </li>

  </ul>

  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img1.jpg',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>

  <span class="row vertical-space"></span>

  <p> Com a limpeza do material lenhoso pretende-se retirar todos os objetos que constituem obstáculos ao normal fluxo da água ou que possam induzir perturbações nos processos característicos das linhas de água e corredores ripícolas. Isso permite um escoamento mais eficaz, evitando, assim, cheias e erosão. </p>
  <p> O material lenhoso que sai desta limpeza pode e deve ser utilizado para a construção das técnicas de engenharia natural, reutilizando e poupando custos da obra. O material que não tenha aplicação na obra ou que sobre, pode ser colocado em pilhas de madeira (não ultrapassando 1 metro de altura), servindo então como abrigo para muitas das espécies locais e reduzindo os custos de transporte da mesma para um aterro (Pereira, 2015). </p>
  <p> Atividades de limpeza e corte: </p>

  <ol>
    <li> Corte da vegetação rasteira com roçadoras
      <span class="row vertical-space"></span>
      <div class="row">
        <div class="span4"></div>
        <div class="span4"> <%= image_tag('limpeza/img2.jpg',:class => 'img-responsive img-resize') %> </div>
        <div class="span4"></div>
      </div>
    </li>
    <span class="row vertical-space"></span>
    <li> Podas   <span class="row vertical-space"></span>
      <div class="row">
        <div class="span4"></div>
        <div class="span4"> <%= image_tag('limpeza/img3.jpg',:class => 'img-responsive img-resize') %> </div>
        <div class="span4"></div>
      </div>
    </li>
    <span class="row vertical-space"></span>
    <li> Replantação de árvores no leito do rio nas margens
      <span class="row vertical-space"></span>
      <div class="row">
        <div class="span4"></div>
        <div class="span4"> <%= image_tag('limpeza/img4.jpg',:class => 'img-responsive img-resize') %> </div>
        <div class="span4"></div>
      </div>
    </li>
    <span class="row vertical-space"></span>
    <li> Corte de árvores caídas ou mortas
    </li>
    <li> Eliminação de invasoras
    </li>
  </ol>

  <h3 class="vertical-space"> Candidaturas a limpezas de Rios </h3>

  <p>   Existem por vezes candidaturas abertas no âmbito do Portal Portugal 2020 para financiamentos e intervenções.
   <a href="https://www.portugal2020.pt/portal2020/indice-candidaturas">https://www.portugal2020.pt/portal2020/indice-candidaturas </a> </p>

  <h3 class="vertical-space"> As melhores Técnicas de Limpezas </h3>

  <h4>Silvados</h4>
  <p>
    - Controlo físico com arranque /corte mecânico</br>
    Consiste em submeter o silvado a uma série de cortes sucessivos da parte aérea. Devem ser feitos cortes de forma a evitar a multiplicação vegetativa, bem como promover o enfraquecimento dos novos rebentos. Os cortes poderão ser efetuados com uma roçadora manual ou mecânica acoplada a uma máquina/trator.
  </p>
  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img5.png',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>
  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img6.jpg',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>

  <h4> Plumas ou erva das pampas </h4>
  <p> - Controlo físico por arranque manual/mecânico </p>
  <p>  O arranque é a metodologia preferencial para plântulas e plantas jovens presentes em solos arenosos. Em situações de substratos bem compactados, o arranque deverá ser realizado na época das chuvas ou por processos mecânicos.
    O corte mecânico está direcionado para plantas de maiores dimensões. Este tipo de controlo deve garantir que não ficam raízes no solo e/ou rizomas arrancados em contacto com o solo, já que estes recuperam facilmente. Pode ser feito através do corte da parte radicular ou das panículas.
  </p>
  <p> - Corte e remoção da parte radicular </p>
  <p> Aplica-se a plantas de maiores dimensões sempre que não for possível o arranque. O corte pode ser realizado com roçadora (Figura 11) e a remoção da parte radicular pode ser feita com recurso a equipamento manual e/ou mecânico.</p>
  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img7.png',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>


  <h4> Erva da fortuna </h4>
  <p> - Controlo físico por arranque manual/mecânico </p>
  <p>
    Método utilizado em áreas invadidas, de pequena dimensão. Em substratos mais compactados, o arranque deve ser realizado na época das chuvas de forma a facilitar a remoção do sistema radicular. Deve garantir-se que não ficam fragmentos de maiores dimensões no solo.
  </p>
  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img8.png',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>
  <p> - Solarização </p>
  <p> Como esta planta se desenvolve em espaços florestais e ensombrados uma solução passa por realizar cortes (podas) na vegetação arbórea para promover a entrada de luz, constituindo assim uma alternativa ao arranque manual, sobretudo em áreas extensas invadidas pela espécie. É Importante minimizar o impacte nas espécies nativas.</p>

  <p> - Controlo químico -> Aplicação foliar de herbicida </p>
  <p> Pulverizar com herbicida (princípio ativo: glifosato, triclopir) limitando a aplicação apenas à espécie-alvo. Deve ter-se em atenção as espécies na envolvente. </p>


  <h4 class="vertical-space"> Corte seletivo e poda de formação (árvores e arbustos) </h4>

  <ul>
  <li>	A densidade final após corte não deve ser inferior a 1 árvore/10m2;</li>
  <li>	No decurso dos trabalhos de limpeza devem ser identificadas as árvores (ou os ramos) com a indicação da operação a desenvolver: corte raso, desbaste ou poda;</li>
  <li>	Ser realizados de jusante para montante;</li>
  <li>	Ser preferencialmente manuais evitando o uso de meios mecânicos pesados;</li>
  <li>	Ocorrer antes do período das chuvas;</li>
  <li>	Ser realizados numa margem de cada vez;</li>
  <li>	Manter a geometria da secção e não linearizar a linha de água.</li>
  </ul>
  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img9.png',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>
  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img10.png',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>
  <span class="row vertical-space"></span>

  <h4> Remoção de material lenhoso</h4>
  <p>
  A remoção deve ser seletiva para permitir a potencial reutilização do material lenhoso, nomeadamente em ações de estabilização de margens (estacas de espécies autóctones) e construção de micro e mini-açudes. O restante material deve ser encaminhado para o destino mais adequado, nomeadamente para lenha e/ou compostagem, de acordo com o seu tipo.
  Assim, o material lenhoso deverá ficar “empilhado” entre 5 a 10 metros pelas margens de modo a promover o habitat de espécies faunísticas, criando abrigos e evitando os custos de transporte de material vegetal.
  Este tipo de trabalhos pode incluir diferentes abordagens, a remoção manual ou remoção mecânica com recurso a retroescavadoras ou tratores.
  </p>
  <div class="row vertical-space">
    <div class="col-xs-6 col-md-6">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img11.jpg',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
    </div>

    <div class="col-xs-6 col-md-6">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img12.jpg',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
      </div>
  </div>

  <span class="row vertical-space"></span>
  <h4> Remoção de resíduos domésticos e entulhos</h4>
  <p>
    A remoção de resíduos deve ser realizada em todos os espaços onde estiver referenciada, principalmente onde são localizados resíduos domésticos e deposição de entulhos. A remoção deve ser seletiva, para permitir a valorização dos resíduos e seu encaminhamento para o destino mais adequado, nomeadamente para reutilização, reciclagem e/ou compostagem, de acordo com o tipo de resíduo, e para facilitar a programação da coordenação dos trabalhos.</p>
  <div class="row vertical-space">
    <div class="col-xs-6 col-md-6">

    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img13.jpg',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>
    <div class="col-xs-6 col-md-6">
    <div class="span4"></div>
    <div class="span4"> <%= image_tag('limpeza/img14.jpg',:class => 'img-responsive center-block') %> </div>
    <div class="span4"></div>
  </div>
    </div>


</div>


<%= stylesheet_link_tag "limpeza" %>
