<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>


<div class="container">

  <% if !flash[:notice].blank? %>
      <div id="notice" class="alert alert-success"> <%= notice %> </div>
  <% end %>

  <h1> Limpeza Rios+ </h1>
  <br/>
  <table class="table table-hover table-striped">
    <tr>
      <th>ID</th>
      <td><%= @limpeza.id %></td>
    </tr>

    <tr>
      <th>Data</th>
      <td><%= @limpeza.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
    </tr>
    <tr>
      <th>Nº utilizador</th>
      <td><%= @limpeza.user_id %></td>
    </tr>
    <tr>
      <th>Nome do utilizador</th>
      <td><%= @user_reporter.nome %></td>
    </tr>

  </table>
  <br/>
  <h3> Lista de problemas selecionados </h3>

  <table class="table table-hover table-striped">
    <tr>
      <th> Problema </th>
      <th> Opção selecionada </th>
    </tr>

    <% if !@limpeza.problema1.nil? && @limpeza.problema1 != '' %>
        <tr>
          <td><%= @categorias[0].categoria %></td>
          <td><%= @limpeza.problema1 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema2.nil? && @limpeza.problema2 != '' %>
        <tr>
          <td><%= @categorias[1].categoria %></td>
          <td><%= @limpeza.problema2 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema3.nil? && @limpeza.problema3 != '' %>
        <tr>
          <td><%= @categorias[2].categoria %></td>
          <td><%= @limpeza.problema3 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema4.nil? && @limpeza.problema4 != '' %>
        <tr>
          <td><%= @categorias[3].categoria %></td>
          <td><%= @limpeza.problema4 %></td>
        </tr>
    <% end %>


    <% if !@limpeza.problema5.nil? && @limpeza.problema5 != '' %>
        <tr>
          <td><%= @categorias[4].categoria %></td>
          <td><%= @limpeza.problema5 %></td>
        </tr>
    <% end %>


    <% if !@limpeza.problema6.nil? && @limpeza.problema6 != '' %>
        <tr>
          <td><%= @categorias[5].categoria %></td>
          <td><%= @limpeza.problema6 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema7.nil? && @limpeza.problema7 != '' %>
        <tr>
          <td><%= @categorias[6].categoria %></td>
          <td><%= @limpeza.problema7 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema8.nil? && @limpeza.problema8 != '' %>
        <tr>
          <td><%= @categorias[7].categoria %></td>
          <td><%= @limpeza.problema8 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema9.nil? && @limpeza.problema9 != '' %>
        <tr>
          <td><%= @categorias[8].categoria %></td>
          <td><%= @limpeza.problema9 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema10.nil? && @limpeza.problema10 != '' %>
        <tr>
          <td><%= @categorias[9].categoria %></td>
          <td><%= @limpeza.problema10 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema11.nil? && @limpeza.problema11 != '' %>
        <tr>
          <td><%= @categorias[10].categoria %></td>
          <td><%= @limpeza.problema11 %></td>
        </tr>
    <% end %>

    <% if !@limpeza.problema12.nil? && @limpeza.problema12 != '' %>
        <tr>
          <td><%= @categorias[11].categoria %></td>
          <td><%= @limpeza.problema12 %></td>
        </tr>
    <% end %>


    <% if !@limpeza.problema13.nil? && @limpeza.problema13 != '' %>
        <tr>
          <td><%= @categorias[12].categoria %></td>
          <td><%= @limpeza.problema13 %></td>
        </tr>
    <% end %>


  </table>






  <%= link_to 'Voltar atrás', index_limpezas_url %>

</div>


<%= render 'common/footer' %>