<footer>
  <div id="footer-content">
    <%= link_to 'Documentos ', documentos_path %>
    <span></span>
    <%= link_to 'Contactos', contactos_path %>
  </div>
</footer>
</body>

<%= javascript_include_tag 'http://www.openlayers.org/api/OpenLayers.js' %>
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag "concelho" %>
</html>
