  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li id="espaco-brute-force"></li>
      <!--<li class="sidebar-brand">
        <p>Painel de Administração</p>
      </li>-->
      <li>
        <%= link_to 'Gestão de utilizadores', adminpanel_path %>
      </li>
      <li>
        <%= link_to 'Formulários IRR', index_form_irrs_path %>
      </li>
      <li>
        <%= link_to 'SOS Rios', index_reports_path %>
      </li>
      <li>
        <%= link_to 'Rotas Rios', index_rotas_path %>
      </li>
      <li>
        <%= link_to 'Trips', index_trips_path %>
      </li>
      <li>
        <%= link_to 'Guardarios', index_guardarios_path %>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
