<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">

<h1> Atualizar reabilitação </h1>

<%= render 'form' %>

<%= link_to 'Show', @reabilitacao %> |
<%= link_to 'Back', reabilitacaos_path %>

</div>