<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <div class="row">
    <h2> Estratégia Reabilitação em Portugal </h2>
  </div>
  <div class="row">
    <p> Os rios são corredores naturais de grande importância hidrológica, ecológica e paisagista que
    integram e estabelecem ecossistemas complexos. Os rios são a principal fonte de recursos
    hídricos, mas podem ser, também, fonte de outros bens e serviços, contribuir para criar
    espaços de recreio e desfrute da natureza pela população local, para além de fonte de
    rendimentos. </p>
  </div>
  <div class="row">
    <p> As utilizações humanas com necessidade de água e espaço têm levado à modificação da
    paisagem, à destruição irreversível de ecossistemas e importantes recursos naturais sob o
    ponto de vista económico, social e ambiental. As zonas ripícolas, formadas pela vegetação nas
    margens ribeirinhas, são consideradas como um dos habitats biofísicos mais complexos do
    planeta, quer pela sua biodiversidade, dinamismo e produtividade primária, quer pela sua
    importante função de corredor ecológico, exercida pela interligação do leito e das margens do
    rio com a vegetação. </p>
  </div>
  <div class="row">
    <p> Qualquer planeamento exige uma metodologia de ação que permita desenvolver atividades
    para melhorar a eficácia e eficiência da intervenção. </p>
  </div>
  <div class="row">
    <p> Uma metodologia pode poupar recursos e melhorar a eficiência, efetuar a prevenção de
    acidentes e desenvolver processos transparentes e participados. </p>
  </div>
  <div class="row">
    <p> Apresenta-se uma metodologia geral padronizada de restauro ou reabilitação de rios e ribeiras
    em etapas que minimiza lacunas na recolha de dados, na estruturação e organização para
    decisões. Possibilita de igual forma elaborar bases de dados padronizadas para a investigação,
    com possibilidade de comparação de resultados, expansão de atuação e análises de resoluções
    de problemas comuns, quer nacionais quer internacionais.</p>
  </div>
  <div class="row">
    <p> A planificação da intervenção deve estar, preferencialmente, integrada numa estratégia geral,
    como forma de minimizar os impactes urbanos, reabilitar os ecossistemas fluviais, associada às
    características da sociedade que com eles interage. </p>
  </div>
  <div class="row">
    <p> Os princípios orientadores da metodologia de ação seguem etapas sequenciais para
    permitirem uma melhoria contínua de atuação, contribuindo para a sustentabilidade.
    Pretendem contribuir para a concretização local de atividades que conciliem e integrem os
    valores económicos, ambientais e sociais.</p>
  </div>
  <div class="row">
    <p> Os principais objetivos desta metodologia são: promover o conhecimento, valorização e
    melhoria do sistema fluvial; contribuir para a integração dos processos de reabilitação, de
    modo a cumprir a legislação e princípios de reabilitação; promover a formação disseminação
    de boas práticas em técnicas de melhoria do sistema fluvial; fornecer ferramentas de
    acompanhamento e avaliação de intervenções fluviais; promover o envolvimento e
    Participação Pública; facilitar a troca de experiências, investigação e divulgação de boas
    práticas de reabilitação fluvial. </p>
  </div>
  <div class="row">
    <p> Esta metodologia deve ser aplicada por: Técnicos autárquicos, projetistas, decisores,
    especialistas em intervenções fluviais, interventores, proprietários do domínio hídrico,
    associações e pessoas interessadas em processos e projetos de reabilitação fluvial.</p>
  </div>
  <div class="row">
    <h2> A importância Estratégia municipal </h2>
  </div>
  <div class="row">
    <p> Uma metodologia geral de reabilitação de rios e ribeiras padronizada permite a
    realização sequencial de etapas, que minimize lacunas de recolha de dados, estruturação,
    organização e decisões intermédias fundamentais. Assim, também possibilita elaborar bases
    de dados padronizadas para a investigação, comparação de resultados, replicar modos de
    atuação e análises de resoluções de problemas.</p>
  </div>
  <div class="row">
    <p> É importante que as intervenções no sistema ribeirinho estejam integradas numa
    estratégia global a nível de bacia hidrográfica e municipal. A definição da estratégia passa pelo
    diagnóstico e caracterização, com a priorização dos problemas e mais-valias para a definição
    de objetivos e metas a atingir. Neste contexto são elaborados diretrizes e soluções para
    inspirar projetos integrados e consequente melhoria fluvial. Estes projetos de melhoria devem
    ser implementados com monitorização e complementados com um programa de verificação e
    avaliação que permita o real acompanhamento do processo e implementação de medidas
    mitigadoras, corretoras e de manutenção. O processo deve ser de melhoria continua onde se
    envolvam todas as partes interessadas (stakeholders) com programas específicos de
    participação pública e se promovam as parcerias, deve respeitar a legislação, realizar a
    avaliação de custo/benefício das soluções alternativas, respeitando cronogramas espaciais e
    temporais de atuação. Este processo deve ser complementado com formações específicas,
    atividades que acautelem os planos de emergência face a potenciais acidentes e se respeitem
    os princípios de reabilitação (Teiga, 2011).</p>
  </div>

  <div class="row vertical-space">
    <div class="span4"></div>
    <div class="span4">
      <figure>
        <%= image_tag('reabilitacoes/esquema_da_metodologia_geral_de_reabilitacao_fluvial.png',
                      :class => 'img-responsive center-block') %>
        <figcaption>Esquema da metodologia geral de reabilitação fluvial (Teiga, 2011).</figcaption>
      </figure>
       </div>
    <div class="span4"></div>
  </div>
  <div class="row">
    <p class="vertical-space">
    O processo da implementação de reabilitação fluvial requer um conjunto de parcerias, que conjuntamente colaborem, em ações complementares ou integradas, para o objetivo comum de melhoria fluvial onde as competências legais e de responsabilidade sejam transparentes e concretizáveis.
    Tabela 1 Entidades responsáveis pela implementação das etapas num processo de reabilitação fluvial (Teiga, 2011).
    </p>
  </div>

  <div class="row vertical-space">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <table style="width: 100%" border="1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th width="206" valign="top">
            <p>
              Etapas
            </p>
          </th>
          <th width="376" valign="top">
            <p>
              Entidade/entidades responsáveis
            </p>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td width="206" valign="top">
            <p>
              1. Estratégia
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH, o Município na área municipal, multimunicipal na bacia hidrográfica
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              2. Diagnóstico e caracterização
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e INAG
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              3. Priorização de problemas e mais-valias
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e INAG
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              4. Identificação dos objetivos
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e INAG
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              5. Identificação de soluções
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH, Municípios e Proprietários
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              6. Elaboração de projetos
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              Proponente de um projeto/obra (proprietários: ARH, Município, Junta de Freguesia, empresas, associação de utilizadores). A
              licença/autorização é dada pela ARH e pode ter outras entidades envolvidas na decisão.
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              7. Implementação e gestão do(s) projeto(s):
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              Fiscalização (ARH) que em alguns casos delega no SEPNA.
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              8. Monitorização
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e no caso de projetos pelo dono de obra
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              9. Programas de verificação e avaliação
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e no caso de projetos pelo dono de obra
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              10. Implementação de medidas mitigadoras e corretoras
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e no caso de projetos pelo dono de obra
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              11. Participação Pública
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH e INAG
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              12. Parcerias, custo/benefício e cronograma
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH (quem desenvolve projetos)
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              13. A melhoria contínua
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH (de quem estabelece estratégias)
            </p>
          </td>
        </tr>
        <tr>
          <td width="206" valign="top">
            <p>
              14. Deteção de acidentes/mitigação
            </p>
          </td>
          <td width="376" valign="top">
            <p>
              ARH, Municípios e Proteção Civil, saúde pública, público em geral
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row vertical-space">
    <h3> A legislação e os rios </h3>
    <ul>
      <li> <a href="http://www.apambiente.pt/dqa/assets/lei-58_2005-lei-da-%C3%A1gua.pdf"> Lei da água </a> </li>
      <li> <a href="http://www.apambiente.pt/dqa/assets/01-2000_60_ce---directiva-quadro-da-%C3%A1gua.pdf"> Diretiva Quadro da Água </a> </li>
      <li> <a href="http://www.apambiente.pt/index.php?ref=16&subref=7&sub2ref=15&sub3ref=93"> Outros regulamentos </a> </li>
    </ul>
    <h3> Os PBGRH e PNA </h3>
    <ul>
      <li> <a href="http://www.apambiente.pt/?ref=16&subref=7&sub2ref=9&sub3ref=833"> PNA </a> </li>
      <li> <a href="http://www.apambiente.pt/?ref=16&subref=7&sub2ref=9&sub3ref=834"> PGRH </a> </li>
    </ul>
  </div>

 <div class="row">
   <h2> Exemplos de resultados obtidos </h2>
   <ul>
    <li>230 Km de rios estudados</li>
    <li>22 Km de intervenções acompanhadas em rios </li>
    <li>5,5 Km de percursos pedonais/cicláveis criados </li>
    <li>5 Km de técnicas de engenharia natural implementadas em margens fluviais </li>
    <li>450 Metros de rios desentubados em espaço urbano </li>
    <li>550 Técnicos e proprietários participantes em palestras </li>
    <li>110 Técnicos envolvidos em formações/workshops </li>
   </ul>
 </div>

</div>

<%= stylesheet_link_tag "reabilitacaos" %>
<%= render 'common/footer' %>