<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">

<h1> Reabilitação de um rio </h1>

<%= render 'form' %>

<%= link_to 'Back', reabilitacaos_path %>

</div>
<%= render 'common/footer' %>