<!DOCTYPE>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12" >
          <label for="codigo-rio">Código do rio:</label>
          <input id="codigo-rio" class="text_field form-control" readonly="readonly" placeholder="Clique em cima do rio para selecionar" required="required" type="text">
        </div>
        <div class="col-md-6 col-xs-12" style="margin-bottom: 10px">
          <label for="nome-rio">Nome do rio:</label>
          <input id="nome-rio" class="text_field form-control" readonly="readonly" placeholder="Clique em cima do rio para selecionar" required="required" type="text">
        </div>
      </div>

      <div id="erro" style="width: 100%; margin-bottom: 10px; text-align: center; display: none;"></div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-md-offset-5 col-xs-12">
            <button id="select-rio-submit" style="width: 100%; margin-bottom: 10px" class="btn btn-primary">Selecionar Rio</button>
          </div>
        </div>
      </div>

      <%= render 'mapa/mapa' %>


    </div>
    <%= javascript_include_tag '//www.openlayers.org/api/OpenLayers.js' %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=false' %>
    <%= javascript_include_tag 'application' %>
    <script>
      $(document).ready(function(){
        $("#select-rio-submit").click(function(){
          var codRio = $("#codigo-rio").val();
          var nomeRio = $("#nome-rio").val();
          if(codRio != '' && nomeRio != ''){
            Android.setRio(codRio, nomeRio);
          }
          else{
            $("#erro").html('Por favor, selecione um rio clicando no mapa');
            $("#erro").show();
          }
        });
      });

      function done() {


      }

    </script>
  </body>
</html>