<%= simple_form_for @report, html: { multipart: true } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :rio, :label => 'Código do rio', :input_html => {:id => 'codigo-rio'}, :readonly => true, :placeholder => 'Clique em cima do rio para selecionar',
          :required => true %>
      <%= f.input :nome_rio, :label => 'Nome do rio', :input_html => {:id => 'nome-rio'}, :readonly => true, :placeholder => 'Clique em cima do rio para selecionar',
                  :required => true, :class => "form-control" %>

      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lon %>


      <div class="form-group <%= field_class(@report, :categoria)%>">
        <%= f.label :categoria, "Categoria", :class => 'control-label' %>
        <%= f.select :categoria, ['Erosão', 'Poluição', 'Acidente', 'Desflorestação', 'Pesca e caça ilegal',
                                  'Cheia', 'Incêndio', 'Vandalismo', 'Presença de espécies exóticas e invasoras'], {:include_blank => 'Selecione uma categoria'},
                     {:required => true, :class => "form-control"} %>
      </div>


      <div class="form-group <%= field_class(@report, :motivo)%>">
        <%= f.label :motivo, "Motivo", :class => 'control-label' %>
        <%= f.select :motivo, ['Preocupado com a situação a nível ambiental',
                               'Preocupado com a situação a nível Pessoal',
                               'Má Vizinhança',
                               'Necessida de informação adicional',
                               'Demora do processo de esclarecimento/resolução'], {:include_blank => 'Selecione o motivo'},
                     {:required => true, :class => "form-control"} %>
      </div>

      <%= f.input :descricao, :label => 'Descrição', :required => true %><br/>

      <div id="reports-imgs">
        <div id="img-filenames"></div>
        <button id="btn-add-img-report" class="btn btn-primary" type="button"> Adicionar imagens </button>
        <%= file_field_tag "images[]", type: :file, multiple: true, accept: 'image/png,image/gif,image/jpeg', style: 'display:none', id: "report-img-input" %>
      </div>
    </div>
    <br>

    <div class="form-actions">
      <%= f.button :submit, 'Denunciar', :class => "btn-danger"  %>
    </div>
<% end %>
