<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <h1> SOS rios - Lista de denúncias <%= link_to 'Nova denúncia', new_report_path, class: 'btn btn-primary' %></h1>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Código rio</th>
        <th>Nº utilizador</th>
        <th>Mostrar</th>
        <th>Apagar</th>
      </tr>

      <% @reports.each do |report| %>
          <tr>
            <td><%= report.rio %></td>
            <td><%= report.user_id %></td>
            <td><%= link_to 'Mostrar', report %></td>
            <td><%= link_to 'Apagar', report, method: :delete, data: {confirm: 'Tem a certeza que pretende apagar?'} %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render 'common/footer' %>