<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">


  <h1> SOS Rios+ </h1>

  <%= render 'mapa/mapa' %>
  <br>
  <%= render 'form' %>

  <%= link_to 'Voltar atrás', reports_path %>

</div>


<%= render 'common/footer' %>