<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>


<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Relatório SOS Rios+</h1>
  <table class="table table-hover table-striped">
    <tr>
      <th>Código do Rio</th>
      <td><%= @report.rio %></td>
    </tr>
    <tr>
      <th>Data de denúncia</th>
      <td><%=@report.created_at.strftime("%d/%m/%Y - %H:%M")%></td>
    </tr>
    <tr>
      <th>Nº utilizador</th>
      <td><%= @report.user_id %></td>
    </tr>
    <tr>
      <th>Nome do utilizador</th>
      <td><%=@user_reporter.nome%></td>
    </tr>
    <tr>
      <th>Categoria</th>
      <td><%= @report.categoria %></td>
    </tr>
    <tr>
      <th>Motivo</th>
      <td><%= @report.motivo %></td>
    </tr>
    <tr>
      <th>Descrição</th>
      <td><%= @report.descricao %></td>
    </tr>
  </table>

  <h3>Fotografias</h3>
  <% if !@report['images'].nil? %>
      <div id="show-form_irr-imgs">
        <div class="row">
          <% @report['images'].each do |img| %>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <%= image_tag("#{@img_path}#{img}", :class => 'img-responsive') %>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>

  <%= link_to 'Voltar atrás', reports_path %>

</div>


<%= render 'common/footer' %>
<%= javascript_include_tag 'guardarios' %>