<%= render 'common/header' %>
<%= stylesheet_link_tag 'guardarios' %>
</head>
<body>
<%= render 'common/navbar' %>
<div class="container">
  <h1> Lista de avistamentos guarda-rios mais recentes <%= link_to "Novo avistamento", new_guardario_path, class: "btn btn-primary" %></h1>
  <div class="row">
      <% @guardarios_img.each do |img| %>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <!-- size: 800x600 -->
          <div class="container-item-guarda-rios thumbnail">
            <%= link_to image_tag(img.image, :class => 'img-responsive'), guardario_path(img.guardario_id) %>
          </div>
        </div>
      <% end %>
  </div>
  <%= link_to 'Meus guardarios', 'meusguardarios' %>
</div>

<%= render 'common/footer' %>
