<%= render 'common/header' %>

</head>
<body>
<%= render 'common/navbar' %>

<div class="container">

  <h1> Avistamento guarda-rios </h1>

  <div id="rio-nome" class="form-group container">
    <h4>Nome do rio:</h4>
  </div>

  <%= render 'mapa/mapa' %>
  <br>
  <%= render 'form' %>

  <%= link_to 'Back', guardarios_path %>


</div>


<%= render 'common/footer' %>