<%= render 'common/header' %>

</head>

<body>

<div class="container">
  <%= yield %>
</div>

<%= render 'common/navbar' %>


<div class="container">
<%= link_to 'Register', register_path %>
</div>


<%= render 'common/footer' %>