<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <div class="row">
    <h1>Laboratório de rio - LabRios+</h1>
  </div>

  <div class="row">
    <p>A implementação em parcerias locais de Centros de Investigação Fluvial
      (Laboratório de Rio – LabRios+) tem como objetivo principal de criar espaços de demonstração de
      boas práticas de intervenção ribeirinha, e promover a biodiversidade dos corredores fluviais para
      permitir a conetividade entre habitat prioritários (92 E 0);</p>
  </div>
  <div class="row">
    <p>O LabRios+ assenta num laboratório vivo inovador para a 1ª estratégia de reabilitação de
      rios municipal e ilustrar métodos de gestão e intervenção local que crie valor económico,
      ambiental e social e promova a Educação Ambiental.</p>
  </div>
  <div class="row">
    <p>O LabRios+ propõe criar condições sustentáveis para demonstração de técnicas de engenharia natural
      e da sua aplicabilidade e vantagens económicas e ecológicas na conservação e reabilitação de habitats
      prioritários de espécies autóctones em corredores ribeirinhos.</p>
  </div>
  <div class="row">
    <p>Pretende-se com este laboratório concretizar um <span><i>ShowRoom</i></span> da Reabilitação de Rios à escala Municipal,
      com a área mínima de 2ha (500 m de comprimentos com 40 metros de largura) num rio ou numa ribeira não
      navegável, para implementar técnicas de Engenharia Natural e locais de formação e demonstração de
      soluções de reabilitação fluvial, para a população em geral e comunidade escolar, enquadrando as disposições
      legais nacionais e comunitárias em matéria de ambiente, nomeadamente: a Diretiva Quadro Água (DQA), as
      Diretivas Aves e Habitats, a Agenda Local 21, o Quadro de Ações Prioritárias para a Rede Natura 2000 (PAF),
      a Estratégia Nacional de Conservação da Natureza e da Biodiversidade e o Plano Setorial para a Rede Natura 2000.</p>
  </div>
  <div class="row">
    <p>Procura-se ainda desenvolver as Rotas de Rios+, que consistem em estabelecer Rotas Reabilitação de Rios pedonais,
      cicláveis ou motorizadas que congreguem objetivos ambientais, culturais, de lazer, de empreendedorismo social, e que
      promovam a reabilitação fluvial e o desenvolvimento sustentável.</p>
  </div>

  <div>
    <div class="row">
      <h3> Objetivo </h3>
      <ul>
        <li>Espaço LabRios+: formalização do laboratório - espaço de demonstração de boas práticas de intervenção ribeirinha</li>
        <li>Espaços demonstrativos: implementação de técnicas de engenharia natural em 50 metros das várias freguesias do município</li>
        <li>Ilustrar métodos de gestão para criar valor económico, ambiental e social</li>
        <li>Promover a Educação Ambiental e a mudança de comportamentos perante a conservação da natureza e da biodiversidade</li>
      </ul>
    </div>
    <div class="row">
      <h3> Metas </h3>
      <ul>
        <li>Km/Rios intervencionados</li>
        <li>Número de Pessoas benificiárias</li>
        <li>Número de locais replicados N+1</li>
        <li>Área de intervenção 2ha -> 200ha-> 2000ha</li>
      </ul>
    </div>
    <div class="row">
      <h3> Piloto/Teste </h3>
      <ul>
        <li>Aquisição ou arrendamento (20 anos) de terreno com: >2ha (500m de frente ribeirinha)</li>
        <li>Tipo de Rio >3 e <20 metros de largura não navegável</li>
      </ul>
    </div>
  </div><br>

  <div class="row">
    <p>Será um centro de investigação acessível ao público onde vão ser desenvolvidas atividades como projetos de
      investigação académicas, <span><i>workshops</i></span> e palestras. Tendo como foco, no contexto rios, as temáticas de Ambiente,
      Biologia, Geologia, Química, Física, Economia e Sociologia.</p>
  </div>
  <div class="row">
    <h3>Pretendemos com este laboratório:</h3>
    <ul>
      <li>Aumentar a biodiversidade local;</li>
      <li>Aumentar a qualidade das margens dos rios/ribeiras;</li>
      <li>Aumentar aumente o nível de participação da população perante a conservação da natureza e da biodiversidade</li>
      <li>Promover informação e comportamentos positivos e integrantes face à conservação da natureza e da biodiversidade.</li>
      <li>Criar um espaço para ser feita investigação com Teses, Dissertações e Doutoramentos;</li>
      <li>Local próximo das técnicas para desenvolver atividades como <span><i>workshops</i></span>, palestras e formações; (figura 1);</li>
      <li>Aumentar as receitas no comércio hoteleiro e de lazer;</li>
      <li>Rotas de Rios+</li>
    </ul>
  </div>

  <div class="row">
    <div class="span4"></div>
    <div class="span4">
      <figure>
        <%= image_tag('labrios/fig1.png',
                      :class => 'img-responsive center-block') %>
        <figcaption>Figura 1: Valorização LabRios+</figcaption>
      </figure>
    </div>
    <div class="span4"></div>
  </div><br>

  <div class="row">
    <p>Este laboratório de rios terá uma área onde serão aplicadas pelo menos 6 conjuntos, espaçados no tempo, de técnicas de
    Engenharia Natural com estacas de árvores autóctones (figura 2).</p>
  </div>

  <div class="row">
    <div class="span4"></div>
    <div class="span4">
      <figure>
        <%= image_tag('labrios/fig2.png',
                      :class => 'img-responsive center-block') %>
        <figcaption>Figura 2: Esboço LabRios+</figcaption>
      </figure>
    </div>
    <div class="span4"></div>
  </div><br>

</div>

<%= render 'common/footer' %>