<%= stylesheet_link_tag "form_irr" %>

<div>

  <!-- Tab panes -->
  <div class="container">
    <%= form_for @form_irr, :html => {:role => 'form', :class => "#{@is_show} tab-content"}  do |f| %>
        <% if @form_irr.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@form_irr.errors.count, 'error') %> prohibited
                this form_irr from being saved:
              </h2>
              <ul>
                <% @form_irr.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="rio-info form-inline">
          <div class="row">
            <div class="thumbnail">
              <h2>Rio</h2>
              <div class="form-group container">
                <h4>Nome do rio:</h4>
              </div>
              <div class="form-group container">
                <%= f.label :margem, 'Margem' %>:
                <div class="radio">
                  <%= f.radio_button :margem, "1", :required => true %>
                  <%= f.label :margem_1, "Esquerda" %>
                </div>
                <div class="radio">
                  <%= f.radio_button :margem, "2", :required => true %>
                  <%= f.label :margem_2, "Direita" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#form_irr-hidrogeomorfologia" aria-controls="form_irr-hidrogeomorfologia" role="tab" data-toggle="tab">Hidrogeomorfologia</a></li>
          <li role="presentation"><a href="#form_irr-qualidadedaagua" aria-controls="form_irr-qualidadedaagua" role="tab" data-toggle="tab">Qualidade da água</a></li>
          <li role="presentation"><a href="#form_irr-alteracoesantropicas" aria-controls="form_irr-alteracoesantropicas" role="tab" data-toggle="tab">Alterações antrópicas</a></li>
          <li role="presentation"><a href="#form_irr-corredorecologico" aria-controls="form_irr-corredorecologico" role="tab" data-toggle="tab">Corredor ecológico</a></li>
          <li role="presentation"><a href="#form_irr-participacaopublica" aria-controls="form_irr-participacaopublica" role="tab" data-toggle="tab">Participação pública</a></li>
          <li role="presentation"><a href="#form_irr-organizacaoeplaneamento" aria-controls="form_irr-organizacaoeplaneamento" role="tab" data-toggle="tab">Organização e planeamento</a></li>
        </ul>

        <div role="tabpanel" class="tab-pane active" id="form_irr-hidrogeomorfologia">
          <h2> Hidrogeomorfologia </h2>

          <div class="form-group image-options container">
             <div class="row input-img-radio-container">
               <%= f.label :tipoDeVale, 'Tipo de Vale' %>: </br>
               <% imagens_tipo_vale = ['1.png', '2.png', '3.png', '4.png', '5.png', '6.png', '7.png']; %>
               <% for i in 1..7
               label = "tipoDeVale_#{i}"; %>
                   <div class="form-option col-lg-3 col-md-4 col-sm-6 col-xs-12">
                     <%= f.radio_button :tipoDeVale, "#{i}", :required => true %>
                     <%= f.label label, image_tag("tipodevale/#{imagens_tipo_vale[i-1]}", :class => 'img-responsive'), :class => 'img-label' %>
                   </div>
             <% end %>

            </div>
          </div>

<div class="form-group image-options container">
 <div class="row input-img-radio-container">
  <%= f.label :perfilDeMargens, 'Perfil de margens' %>: </br>
  <% imagens_perfil_margens = ['verticalescavado.png','verticalcortado.png','declivemaior45.png', 'declivemenor45.png', 'suavecomposto.png'];
  labels = ['Vertical escavado', 'Vertical cortado', 'Declive >45%', 'Declive <45%', 'Suave composto <45%', 'Artificial']; %>
  <% for i in 1..5
  label = "perfilDeMargens_#{i}"; %>
       <div class="form-option col-lg-3 col-md-4 col-sm-6 col-xs-12">
         <%= f.radio_button :perfilDeMargens, "#{i}", :required => true, :class => "input-img-radio" %>
         <div class="img-label">
           <%= f.label label, labels[i-1] %>
           <%= f.label label, image_tag("perfildemargens/#{imagens_perfil_margens[i-1]}", :class => 'img-responsive') %>
         </div>
       </div>
 <% end %>

 <div class="form-option col-lg-3 col-md-4 col-sm-6 col-xs-12 img-label">
   <%= f.radio_button :perfilDeMargens, '6', :required => true %>
   <%= f.label :perfilDeMargens_6, 'Artificial', :class => 'img-label' %>
 </div>			
</div>
</div>

<div class="form-group">
 <h3> Volume de água </h3> 
 <div class="container">
  <div class="row">

   <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
    <div class="container-fluid">
     <div class="right-allign-fields">
      <%= f.label :larguraDaSuperficieDaAgua, 'Largura da superfície da água (L) (m)' %>:
      <%= f.number_field :larguraDaSuperficieDaAgua, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :required => true %>
    </div>

    <div class="right-allign-fields">
      <%= f.label :profundidadeMedia, 'Profundidade média (P) (m)' %>:
      <%= f.number_field :profundidadeMedia, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :required => true %>
    </div>

    <div class="right-allign-fields">
      <%= f.label :velocidadeMedia, 'Velocidade média (V) (m/s)' %>:
      <%= f.number_field :velocidadeMedia, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :required => true %>
    </div>
  </div>

</div>

<div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
  <div class="container-fluid">
   <div class="right-allign-fields">
    <%= f.label :seccao, 'Secção (S=PxL) (m^2)' %>:
    <%= f.number_field :seccao, :class => 'text_field form-control input-custom-size', :step => 'any', :readonly => true, :required => true %>
  </div>

  <div class="right-allign-fields">
    <%= f.label :caudal, 'Caudal (C=VxS) (m^3/s)' %>:
    <%= f.number_field :caudal, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :readonly => true, :required => true %>
  </div>
</div>
</div>

</div>
</div>
</div>

<div class="container-fluid">

  <div class="form-group">
    <%= f.label :substratoDasMargens, 'Substrato das margens (selecionar os que tem mais de 35%)' %>: </br>

    <% var_substratodasmargens = ['soloArgiloso','arenoso', 'pedregoso','rochoso','artificialPedra','artificialBetao'];
    labels = ['Solo argiloso', 'Arenoso', 'Pedregoso', 'Rochoso', 'Artificial pedra', 'Artificial Betão (5)']; %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <% for i in 0..5 %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <%label = "substratoDasMargens_#{var_substratodasmargens[i]}"; %>
                <div class="checkbox">
                  <%= f.check_box label %>
                  <%= f.label label, labels[i] %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="form-group">

    <%= f.label :substratoDoLeito, 'Substrato do leito (selecionar os que tem mais de 35%)' %>: </br>

    <% var_substratodoleito = ['blocoseRocha','calhaus', 'cascalho','areia','limo','solo','artificial','naoEVisivel'];
    labels = ['Blocos e rocha (>40cm)', 'Calhaus (20-40cm)', 'Cascalho (2-20cm)', 'Areia (0.5-2cm)', 'Limo (<0.5mm)', 'Solo', 'Artificial', 'Não é visível']; %>


    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <% for i in 0..7 %>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <%label = "substratoDoLeito_#{var_substratodoleito[i]}"; %>
              <div class="checkbox">
                <%= f.check_box label %>
                <%= f.label label, labels[i] %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :estadoGeraldaLinhadeAgua, 'Estado geral da linha de água' %>:</br>

    <% labels = ['Canal sem alterações, estado natural', 'Canal ligeiramente perturbado', 'Início de uma importante alteração do canal', 'Grande alteração do canal', 'Canal completamente alterado (canalizado, regularizado)']; %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <% for i in 1..5 %>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <%label = "estadoGeraldaLinhadeAgua_#{i}"; %>
              <div class="radio">
                <%= f.radio_button :estadoGeraldaLinhadeAgua, i, :required => true %>
                <%= f.label label, labels[i-1] %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" id="form_irr-erosao">
    <%= f.label :erosao, 'Erosão' %>:</br>

    <% labels = ['Sem erosão','Formação de >3 regos','Formação de 1-3 regos','Queda de muros e árvores','Rombos com mais de 1 metro com queda de muros ou árvores'] %>
    <% var_erosao = ['semErosao','formacaomais3','formacao1a3','quedamuros','rombos'] %>
    <% value_irr = [1,2,3,3,4] %>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <% for i in 1..5 %>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <% label = "erosao_#{var_erosao[i-1]}"; %>
              <div class="checkbox">
                <%= f.check_box label, :value_irr => value_irr[i-1] %>
                <%= f.label label, labels[i-1] %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" id="form_irr-sedimentacao">
    <%= f.label :sedimentacao, 'Sedimentação' %>:</br>

    <% labels = ['Ausente','Demposição na margem em curva','Mouchões (deposição de areia no leito)','Ilhas sem vegetação','Ilhas com vegetação','Deposição nas margens (s/vegetação)','Deposição nas margens (c/vegetação)','Rochas expostas no leito'] %>
    <% var_sedimentacao = ['ausente','decomposicao','mouchoes','ilhassemveg','ilhascomveg','deposicaosemveg','deposicaocomveg','rochas'] %>
    <% value_irr = [5,5,5,5,5,5,5,5] %>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <% for i in 1..8 %>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <% label = "sedimentacao_#{var_sedimentacao[i-1]}"; %>
              <div class="checkbox">
                <%= f.check_box label, :value_irr => value_irr[i-1]%>
                <%= f.label label, labels[i-1] %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

        <div role="tabpanel" class="tab-pane" id="form_irr-qualidadedaagua">
          <h2> Qualidade da água: </h2>
          <div class="form-group">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :pH, 'pH' %>:
                      <%= f.number_field :pH, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '1.00', :max => '14.0', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :condutividade, 'Condutividade' %>:
                      <%= f.number_field :condutividade, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '50.00', :max => '1500.0', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :temperatura, 'Temperatura (ºC)' %>:
                      <%= f.number_field :temperatura, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :max => '40.0', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :nivelDeOxigenio, 'Nível De Oxigenio (mg/L)' %>:
                      <%= f.number_field :nivelDeOxigenio, :class => 'text_field form-control input-custom-size', :step => 'any', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :percentagemDeOxigenio do %> O<sub>2</sub>% : <%end%>
                      <%= f.number_field :percentagemDeOxigenio, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0', :max => '200', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :nitratos, 'Nitratos' %>:
                      <%= f.number_field :nitratos, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :max => '80.0', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :nitritos, 'Nitritos' %>:
                      <%= f.number_field :nitritos, :class => 'text_field form-control input-custom-size', :step => 'any', :min => '0.00', :max => '4.0', :required => true %>
                    </div>
                  </div>

                  <div>
                    <div class="right-allign-fields">
                      <%= f.label :transparencia, 'Transparência (I-IV)' %>:
                      <%= f.number_field :transparencia, :class => 'text_field form-control input-custom-size', :min => '1', :max => '4', :step => '1', :required => true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" id="form_irr-indiciosnaagua">
            <h3> Indícios na água: </h3>

            <% labels = ['Óleo', 'Espuma','Esgostos','Impurezas','Sacos de plástico', 'Latas']
               label = ['oleo','espuma','esgotos','impurezas','sacosDePlastico','latas'] %>
            <% value_irr = [5,4,3,2,2,3] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..5 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <%= f.check_box label[i], :value_irr => value_irr[i-1]%>
                            <%= f.label label[i], labels[i] %>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :indiciosNaAgua_outros, 'Outros' %></br>
                        <%= f.text_area :indiciosNaAgua_outros %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" id="form_irr-cordaagua">
            <%= f.label :corDaAgua, 'Cor da água' %>:</br>

            <% labels = ['Transparente', 'Leitosa','Castanha','Verde-escura','Laranja','Cinzenta','Preta','Outra cor'] %>
            <% value_irr = [1,4,1,4,5,5,5] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..8 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "corDaAgua_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :corDaAgua, i, :required => true, :value_irr => value_irr[i-1] %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" id="form_irr-odordaagua">
            <%= f.label :odorDaAgua, 'Odor (cheiro) da água' %>:</br>

            <% labels = ['Não tem odor', 'Cheiro a fresco','Cheiro a lama (Vasa)','Cheiro a esgoto','Cheiro químico (cloro)','Cheiro podre (ovos podres)','Outro odor'] %>
            <% value_irr = [1,1,4,3,5,4] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..7 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "odorDaAgua_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :odorDaAgua, i, :required => true, :value_irr => value_irr[i-1] %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group image-options container" id="form_irr-macroinvertebrados">
            <h3>Tabela de Macroinvertebrados </h3>
            <h4>Planárias</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :planarias, :value_irr => 1 %>
                    <%= f.label :planarias, 'Planárias' %> <span name="planarias" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/planaria.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h4>Hirudíneos</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :hirudineos, :value_irr => 5 %>
                    <%= f.label :hirudineos, 'Hirudíneos (Sanguessugas)' %> <span name="hirudineos" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/hirudineo.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h4>Dípteros</h4>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :oligoquetas, :value_irr => 5 %>
                    <%= f.label :oligoquetas, 'Oligoquetas (minhocas)' %> <span name="oligoquetas" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/oligoquetas.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :simulideos, :value_irr => 2 %>
                    <%= f.label :simulideos , 'Simulideos' %> <span name="simulideos" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/simulideo.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :quironomideos, :value_irr => 5 %>
                    <%= f.label :quironomideos, 'Quironomideos, Sirfídeos, Culidídeos, Tipulídeos (Larva de mosquitos)' %> <span name="quironomideos" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/quironomideos.png</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- FIM DIPTEROS -->
            <hr>

            <h4>Gastrópodes (<i>Mullusca</i>)</h4>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :ancilideo, :value_irr => 2 %>
                    <%= f.label :ancilideo, 'Ancilídeo' %> <span name="ancilideo" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/ancilideo.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :limnideo, :value_irr => 4 %>
                    <%= f.label :limnideo, 'Limnídeo; Physa' %> <span name="limnideo" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/limnelideo.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :bivalves, :value_irr => 3 %>
                    <%= f.label :bivalves, 'Bivalves' %> <span name="bivalves" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/bivalves.png</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- FIM GASTROPODES -->
            <hr>

            <h4>Coleóptero (escaravelho)</h4>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :patasNadadoras, :value_irr => 3 %>
                    <%= f.label :patasNadadoras, 'Patas Nadadoras (Dystiscidae)' %> <span name="patasNadadoras" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/ditiscus.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :pataLocomotoras, :value_irr => 4 %>
                    <%= f.label :pataLocomotoras, 'Pata Locomotoras (Hydraena)' %>  <span name="pataLocomotoras" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/pataslocomotivas.png</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- FIM ESCARAVELHO -->
            <hr>

            <h4>Trichóptero (mosca d’água)</h4>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :trichopteroS, :value_irr => 3 %>
                    <%= f.label :trichopteroS, 'Trichóptero (mosca d’água) S/Casulo' %> <span name="trichopteroS" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/hidropsiquideo.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :trichopteroC, :value_irr => 2 %>
                    <%= f.label :trichopteroC, 'Trichóptero (mosca d’água) C/Casulo' %> <span name="trichopteroC" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/trichoptero.png</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIM TRICHOPTERO -->
            <hr>

            <h4>Odonata</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :odonata, :value_irr => 2 %>
                    <%= f.label :odonata, 'Odonata (Larva de Libelinhas)' %> <span name="odonata" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/larvadelibelula.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <h4>Heterópteros</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :heteropteros, :value_irr => 3 %>
                    <%= f.label :heteropteros, 'Heterópteros' %> <span name="heteropteros" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/heteropteros.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h4>Plecópteros</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :plecopteros, :value_irr => 1 %>
                    <%= f.label :plecopteros, 'Plecópteros (mosca-de-pedra)' %> <span name="plecopteros" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/plecopteros.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h4> Efemerópteros (efémera) </h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :baetideo, :value_irr => 3 %>
                    <%= f.label :baetideo, 'Baetídeo' %> <span name="baetideo" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/baetideo.png</div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :cabecaPlanar, :value_irr => 1 %>
                    <%= f.label :cabecaPlanar, 'Cabeça Planar (Ecdyonurus)' %> <span name="cabecaPlanar" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/cabecaplanar.png</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FIM EFEMERA -->
            <hr>

            <h4>Crustáceos</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :crustaceos, :value_irr => 3 %>
                    <%= f.label :crustaceos, 'Crustáceos' %> <span name="crustaceos" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/crustaceos.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <h4>Ácaros</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :acaros, :value_irr => 3 %>
                    <%= f.label :acaros, 'Ácaros' %> <span name="acaros" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/acaros.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <h4>Pulga-de-água</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :pulgaDeAgua, :value_irr => 2 %>
                    <%= f.label :pulgaDeAgua, 'Pulga-de-água (Daphnia)' %> <span name="pulgaDeAgua" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/pulgadeagua.png</div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <h4>Insetos</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :insetos %>
                    <%= f.label :insetos, 'Insetos – adultos (adultos na forma aérea)' %> <span name="insetos" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path"></div>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <h4>Mégalopteres</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="checkbox">
                    <%= f.check_box :megalopteres, :value_irr => 3 %>
                    <%= f.label :megalopteres, 'Mégalopteres' %> <span name="megalopteres" class="question-mark glyphicon glyphicon-question-sign"></span>
                    <div class="photo-path">macroinvertebrados/megalopteres.png</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="form_irr-alteracoesantropicas">
          <h2> Alterações antrópicas </h2>

          <div class="form-group" id="form_irr-intervencoes">
            <%= f.label :intervencoes, 'Intervenções presentes' %>: </br>

            <% var_labels = ['edificios','pontes','limpezasDasMargens','estabilizacaoDeMargens','modelacaoDeMargensNatural','modelacaoDeMargensArtificial','barragem','diques','rioCanalizado','rioEntubado','esporoes','paredoes','tecnicasDeEngenhariaNatural']
               labels = ['Edifícios','Pontes','Limpeza das margens','Estabilização de margens','Modelação de margens natural','Modelação de margens artificial','Barragem','Diques','Rio canalizado','Rio entubado','Esporões','Paredões','Técnicas de engenharia natural'] %>
            <% value_irr = [2,2,2,1,1,4,5,3,5,5,4,3,1,3] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..12 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "intervencoes_#{var_labels[i]}"; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, labels[i] %>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :intervencoes_outras, 'Outras' %></br>
                        <%= f.text_area :intervencoes_outras %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- TODO como inserir outras? -->
          </div>

          <div class="form-group">

            <%= f.label :ocupacao, 'Ocupação das margens [<10 m]' %>: </br>

            <% var_labels = ['florestaNatural','florestaPlantadas','matoAlto','matoRasteiro','pastagem','agricultura','espacoAbandonado','jardins','zonaEdificada','zonaIndustrial','ruas','entulho']
               labels = ['Zona natural com/sem intervenção (Floresta Natural)','Floresta/arvores plantadas','Mato alto (1-5 m)','Mato rasteiro <1m','Pastagem (pecuária)','Agricultura','Espaço abandonado (+ 3 anos)','Jardins ou espaços de lazer','Zona edificada (casas/edifícios)','Zona industrial','Vias de comunicação (ruas)','Entulho e zona degradada'] %>
            <% value_irr = [1,1,3,2,3,3,3,2,4,5,3,5] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..11 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "ocupacao_#{var_labels[i]}"; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, labels[i] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <h3>Património edificado Leito/margem [estado de conservação: 1 - Bom a 5- Mau]</h3>

            <% labels = ['Moinho/azenhas','Açude (> 2m)','Micro-açude (1m)','Micro-açude (1-2m)','Barragem (> 10m)','Levadas','Pesqueiras','Escadas de peixe','Poldras','Pontes/pontões sem pilar no canal','Pontes/pontões com pilar no canal','Passagem a vau','Barcos','Caís','Igreja, capela, santuário (< 100m)','Solares ou casas agrícolas (< 100m)','Núcleo habitacional (< 100m)','Edifícios particulares (< 100m)','Edifícios públicos (estatais) (< 100m)','ETA/ETAR/elevatórias','Descarregadores de águas pluviais','Coletores saneamento','Defletores artificiais','Mota lateral'] %>
            <% var_patrimonio = ['moinho','acude','microAcude1','microAcude2','barragem','levadas','pesqueiras','escadasDePeixe','poldras','pontesSemPilar','pontesComPilar','passagemAVau','barcos','cais','igreja','solares','nucleoHabitacional','edificiosParticulares','edificiosPublicos','ETA','descarregadoresDeAguasPluviais','coletoresSaneamento','defletoresArtificiais','motaLateral'] %>
            <% value_irr = [1,2,1,1,5,2,3,1,2,2,3,2,1,2,1,1,3,2,3,4,5,4,3,3] %>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..24 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "patrimonio_#{var_patrimonio[i-1]}"; %>
                          <div>
                            <%= f.select label, ['Nao',1,2,3,4,5], :required => true, :value_irr => value_irr[i-1] %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3>Poluição</h3>

            <% labels = ['Descargas domésticas','Descargas ETAR','Descargas industriais','Descargas químicas','Descargas águas pluviais','Presença de criação animais','Lixeiras','Lixo doméstico','Entulho (restos de obras)','Monstros domésticos','Sacos de plástico','Latas e material ferroso','Queimadas'] %>
            <% var_poluicao = ['descargasDomesticas','descargasETAR','descargasIndustriais','descargasQuimicas','descargasAguasPluviais','presencaCriacaoAnimais','lixeiras','lixoDomestico','entulho','monstrosDomesticos','sacosDePlastico','latasMaterialFerroso','queimadas'] %>
            <% value_irr = [2,3,5,5,2,4,4,3,3,5,3,4,3] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..13 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "poluicao_#{var_poluicao[i-1]}"; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i-1] %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="form_irr-corredorecologico">
          <h2> Corredor ecológico </h2>

          <h3> Fauna </h3>

          <div class="form-group">
            <%= f.label :anfibiosAutoctones, 'Anfíbios autoctones' %>: </br>

            <% var_labels = ['salamandraLusitanica','salamandraPintasAmarelas','tritaoVentreLaranja','raIberica','raVerde','sapoComum']
               labels = ['Salamandra-lusitânica (<i>Chioglossa lusitanica</i>)','Salamandra-de-pintas-amarelas (<i>Salamandra salamandra</i>)','Tritão-ventre-laranja (<i>Lissotriton boscai</i>)','Rã-ibérica (<i>Rana ibérica</i>)','Rã-verde (<i>Rana perezi</i>)','Sapo-comum (<i>Bufo bufo</i>)'] %>
            <% value_irr = [1,1,1,1,1,1] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..5 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, raw(labels[i]) %> <span name=<%=var_labels[i]%> class="question-mark glyphicon glyphicon-question-sign"></span>
                            <% imglabel = "corredorecologico/anfibios/#{var_labels[i]}.png"; %>
                            <div class="photo-path"><%=imglabel%></div>
                            <p></p>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :repteisAutoctones, 'Répteis autoctones' %>: </br>

            <% var_labels = ['lagartoDeAgua','cobraAguaDeColar','cagado']
               labels = ['Lagarto-de-água (<i>Lacerta schreiberi</i>)','Cobra-de-água-de-colar (<i>Natrix natrix</i>)','Cágado (<i>Mauremys leprosa</i>)'] %>
            <% value_irr = [1,1,3] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..2 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, raw(labels[i]) %> <span name=<%=var_labels[i]%> class="question-mark glyphicon glyphicon-question-sign"></span>
                            <% imglabel = "corredorecologico/repteis/#{var_labels[i]}.png"; %>
                            <div class="photo-path"><%=imglabel%></div>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :repteis_outro, 'Outro' %>
                        <%= f.text_area :repteis_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :avesautoctones, 'Aves autoctones' %>: </br>

            <% var_labels = ['guardaRios','garcaReal','melroDeAgua','galinhaDeAgua','patoReal','tentilhaoComum','chapimReal']
               labels = ['Guarda-rios (<i>Alcedo atthis</i>)','Garça-real (<i>Ardea cinerea</i>)','Melro-de-água (<i>Cinclus cinclus</i>)','Galinha-de-água (<i>Gallinula chloropus</i>)','Pato-real (<i>Anas platyrhynchos</i>)','Tentilhão-comum (<i>Fringilla coelebs</i>)','Chapim-real (<i>Parus major</i>)'] %>
            <% value_irr = [1,1,1,1,2,1,1] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..6 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, raw(labels[i]) %> <span name=<%=var_labels[i]%> class="question-mark glyphicon glyphicon-question-sign"></span>
                            <% imglabel = "corredorecologico/aves/#{var_labels[i]}.png"; %>
                            <div class="photo-path"><%=imglabel%></div>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :aves_outro, 'Outro' %>
                        <%= f.text_area :aves_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :mamiferosautoctones, 'Mamíferos autoctones' %>: </br>

            <% var_labels = ['lontras','morcegosDeAgua','toupeiraDaAgua','ratoDeAgua','ouricoCacheiro','armilho']
               labels = ['Lontras (<i>Lutra lutra</i>)','Morcegos-de-água (<i>Myotis daubentonii</i>)','Toupeira da água (<i>Galemys pyrenaicus</i>)','Rato-de-água (<i>Arvicola sapidus</i>)','Ouriço cacheiro (<i>Erinaceus europaeus</i>)','Arminho (<i>Mustela Erminea</i>)'] %>
            <% value_irr = [1,1,1,3,1,1] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..5 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, raw(labels[i]) %> <span name=<%=var_labels[i]%> class="question-mark glyphicon glyphicon-question-sign"></span>
                            <% imglabel = "corredorecologico/mamiferos/#{var_labels[i]}.png"; %>
                            <div class="photo-path"><%=imglabel%></div>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :mamiferos_outro, 'Outro' %>
                        <%= f.text_area :mamiferos_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :peixesautoctones, 'Peixes autoctones' %>: </br>

            <% var_labels = ['enguia','lampreia','salmao','truta','bogaPortuguesa','bogaDoNorte']
               labels = ['Enguia (<i>Anguilla anguilla</i>)','Lampreia (<i>Lampetra fluiatilis</i>)','Salmão (<i>Salmo salar</i>)','Truta (<i>Salmo trutta fario</i>)','Boga-portuguesa (<i>Iberochondrostoma lusitanicum</i>)','Boga-do-norte (<i>Chondrostoma duriense</i>)'] %>
            <% value_irr = [1,1,1,1,1,1] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..5 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, raw(labels[i]) %> <span name=<%=var_labels[i]%> class="question-mark glyphicon glyphicon-question-sign"></span>
                            <% imglabel = "corredorecologico/peixes/#{var_labels[i]}.png"; %>
                            <div class="photo-path"><%=imglabel%></div>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :peixes_outro, 'Outro' %>
                        <%= f.text_area :peixes_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :faunaexotica, "Fauna exótica" %>: </br>

            <% var_labels = ['percaSol','tartarugaDaFlorida','caranguejoPeludoChines','gambusia','mustelaVison','lagostimVermelho','trutaArcoIris','achiga']
               labels = ['Perca-sol (<i>Lepomis gibbosus</i>)','Tartaruga da Florida (<i>Trachemys scripta</i>)','Caranguejo-peludo-chinês (<i>Eriocheir sinensis</i>)','Gambúsia (<i>Gambusia holbrooki</i>)','Mustela vison','Lagostim vermelho (<i>Procambarus clarkii</i>)','Truta-arco-íris (<i>Oncorhynchus mykiss</i>)','Achigã (<i>Micropterus salmoides</i>)'] %>
            <% value_irr = [5,5,5,5,5,5,5,5,5] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..7 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, raw(labels[i]) %> <span name=<%=var_labels[i]%> class="question-mark glyphicon glyphicon-question-sign"></span>
                            <% imglabel = "corredorecologico/faunaexotica/#{var_labels[i]}.png"; %>
                            <div class="photo-path"><%=imglabel%></div>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :fauna_outro, 'Outro' %>
                        <%= f.text_area :fauna_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :flora, 'Flora' %>: </br>

            <% var_labels = ['salgueiral','amial','freixal','choupal','ulmeiral','sanguinos','ladual','tramazeiras','carvalhal','sobreiral','azinhal']
               labels = ['Salgueiral (salgueiros)','Amial (amieiral)','Freixial (freixos)','Choupal (choupos)','Ulmeiral (ulmerios)','Sanguinhos (Sanguinhal)','Ladual (lódãos-bastardos)','Tramazeiras','Carvalhal (Carvalhos)','Sobreiral','Azinhal'] %>
            <% value_irr = [1,1,1,1,1,1,1,1,1,1,1] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..10 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <% label = var_labels[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, labels[i] %>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :flora_outro, 'Outro' %>
                        <%= f.text_area :flora_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :conservacaoBosqueRibeirinho, 'Estado de conservação do bosque ribeirinho (10m x 10m)' %>:</br>

            <% labels = ['Total (>75%) com bosque - continuidade arbórea com total sobreposição de copas','(50-75%) Com bosque ripícola Semi-continua arbórea','(25-50%) Sem bosque ripícola (Semi-continua arbórea)','Campos agrícolas (10-25%) Descontinua - na arbórea','(5 a 10%) Interrompida – com manchas de árvores','(<5%) Esparsa - Só árvores isoladas ou Urbanizações ou infra-estruturas'] %>
            <% value_irr = [1,2,3,4,5,5] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..6 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <% label = "conservacaoBosqueRibeirinho_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :conservacaoBosqueRibeirinho, i, :required => true, :value_irr => value_irr[i-1] %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="form-group">
            <%= f.label :vegetacaoInvasora, 'Espécies vegetação invasora' %>: </br>

            <% var_vegetacaoInvasora = ['silvas','ervaDaFortuna', 'plumas','lentilhaDaAgua','pinheirinha','jacintoDeAgua']
               labels = ['Silvas','Erva-da-fortuna','Plumas','Lentilha da água','Pinheirinha','Jacinto de água'] %>
            <% value_irr = [1,3,4,3,3,4,3] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 0..5 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = var_vegetacaoInvasora[i]; %>
                          <div class="checkbox">
                            <%= f.check_box label, :value_irr => value_irr[i] %>
                            <%= f.label label, labels[i] %>
                          </div>
                        </div>
                    <% end %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="checkbox">
                        <%= f.label :vegetacaoInvasora_outro, 'Outro' %>
                        <%= f.text_area :vegetacaoInvasora_outro %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :obstrucaoDoLeitoMargens, 'Obstrução do leito e margens (vegetação)' %>:</br>

            <% labels = ['Com pouca ou sem vegetação no leito <5%','Com alguns ramos e pequenos troncos no leito (5 a 25%)','Com ramos e troncos no leito e margem (25 a 50%)','Com obstrução de 50 a 75% com ramos e troncos','Com obstrução quase total>75% do leito e margens'] %>
            <% value_irr = [1,2,3,4,5] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <%label = "obstrucaoDoLeitoMargens_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :obstrucaoDoLeitoMargens, i, :required => true, :value_irr => value_irr[i-1] %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="form_irr-participacaopublica">
          <h2> Participação pública </h2>
          <div class="form-group">
            <%= f.label :disponibilizacaoDeInformacao, 'Disponibilização de informação' %>:</br>

            <% labels = ['Local de informação por junta de freguesia mais próxima ou acesso público á internet, Disponibilidade de informação (técnicos e não técnicos) e acesso a informação de projetos de Participação Pública', 'Local de informação por município ou acesso público á internet, Disponibilidade de informação (técnicos e não técnicos) e acesso à informação de projetos de Participação Pública', 'Acesso á internet com indicações da localização da informação e disponibilidade de informação (técnicos e não técnicos)','Disponibilidade de informação de qualidade deficiente para os objetivos de reabilitação','Ausência de locais de informação acessível']; %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%label = "disponibilizacaoDeInformacao_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :disponibilizacaoDeInformacao, i, :required => true, :value_irr => i %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :envolvimentoPublico, 'Envolvimento público' %>:</br>

            <% labels = ['Envolvimento de Decisores-Chave (proprietários, município, ARH), em pelo menos duas sessões por ano de participação pública, grupos tipo \'Projeto Rios\',  Realização de sondagens e Inquéritos a população','Envolvimento de Decisores-Chave (município, ARH), em pelo menos 1 sessão de participação pública e/ou associações locais por ano','Poucas atividades de participação pública','Atividades pontuais e com deficiente envolvimento publico local ou de fraca qualidade','Ausência de envolvimento'] %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%label = "envolvimentoPublico_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :envolvimentoPublico, i, :required => true, :value_irr => i %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :acao, 'Ação' %>:</br>

            <% labels = ['São realizadas pelo menos uma das atividades de ações de fiscalização, Monitorização, acompanhamento de participação e envolvimento da população,  e há o seu feedback','São realizadas pelo menos uma das atividades de ações de fiscalização e há o seu feedback','Integração das decisões de participação nas soluções e inexistência de feedback das decisões finais','Sem integração nem feedback das decisões finais','Ausência total de atividades']; %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%label = "acao_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :acao, i, :required => true, :value_irr => i %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="form_irr-organizacaoeplaneamento">
          <h2> Organização e planeamento </h2>
          <div class="form-group">
            <%= f.label :legislacao, 'Legislação' %>:</br>

            <% labels = ['Cumpre todos os requisitos legais nacionais, diretivas europeias e convenções internacionais assinadas por Portugal','Cumpre todos os requisitos legais nacionais','Não cumpre requisitos legais ao nível de pessoas singulares','Não cumpre requisitos legais ao nível de pessoas singulares e de pessoas coletivas','Não se observa nenhuma aplicação legal']; %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%label = "legislacao_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :legislacao, i, :required => true, :value_irr => i %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :estrategia, 'Estratégia, planos de ordenamento e gestão' %>:</br>

            <% labels = ['Existem evidências de implementação de uma estratégia de reabilitação integrada com as figuras de ordenamento locais e regionais','Existe uma estratégia de reabilitação integrada ou planos de ordenamento e de gestão de bacia hidrográfica implementados','Existem planos de ordenamento e de gestão de bacia hidrográfica desintegrados das figuras de ordenamento local e regional e com diminuta implementação','Existem planos de ordenamento e de gestão de bacia hidrográfica sem implementação','Não existe nenhum documento estratégica, planeamento de ordenamento e de gestão a nível de recursos hídricos']; %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%label = "estrategia_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :estrategia, i, :required => true, :value_irr => i %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :gestaoDasIntervencoes, 'Gestão das intervenções de melhoria' %> (Existe pelo menos uma atividade de cada um dos grupos): </br>

            <% labels = ['Definição de objetivos claros de intervenção de melhoria, ações de monitorização com valores de referência, ações de fiscalização, plano de intervenção em caso de acidente ou catástrofe, plano de ações de intervenção de melhoria e ações de manutenção com envolvimento dos proprietários','Definição de objetivos claros de intervenção de melhoria, plano de ações de intervenção de melhoria, ações de monitorização com valores de referência e ações de manutenção com envolvimento dos proprietários','Definição de objetivos claros de intervenção de melhoria e plano de ações de intervenção de melhoria','Definição de objetivos claros de intervenção de melhoria, mas sem qualquer intervenção','Não existe nenhuma evidência de gestão das intervenções de melhoria']; %>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <% for i in 1..5 %>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <%label = "gestaoDasIntervencoes_#{i}"; %>
                          <div class="radio">
                            <%= f.radio_button :gestaoDasIntervencoes, i, :required => true, :value_irr => i %>
                            <%= f.label label, labels[i-1] %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div>
          <p>
            <a class="btn btn-primary btnPrevious" >Anterior</a>
            <a class="btn btn-primary btnNext" >Seguinte</a>
            <%= f.submit 'Submeter formulario', class: "btn btn-primary" %>
          </p>
        </div>

    <% end %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal-photo" tabindex="-1" role="dialog" aria-labelledby="modal-photo-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-photo-title"></h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
