<%= render 'common/header' %>
</head>
<body>
<%= render 'common/navbar' %>

<div class="container">
  <% if @all %>
      <h1>Todos os formul치rios</h1>
  <% else %>
      <h1>Meus formul치rios <%= link_to "Novo formul치rio", new_form_irr_path, class: "btn btn-primary" %></h1>
  <% end %>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr>
        <th>Id</th>
        <th>Rio</th>
        <th>Margem</th>
        <th>Criado em</th>
        <th>Editado em</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Apagar</th>
        <th>Validado</th>
      </tr>
      <% @form_irrs.each do |form_irr| %>
          <tr>
            <td><%= form_irr.id %></td>
            <td><%= link_to form_irr.nomeRio, rio_path(form_irr.idRio) %></td>
            <td>
              <% if form_irr.margem == 1 %>
                  Esquerda
              <% else %>
                  Direita
              <% end %>
            </td>
            <td><%= form_irr.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= form_irr.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= link_to 'Ver', form_irr_path(form_irr) %></td>
            <td><%= link_to 'Editar', edit_form_irr_path(form_irr) %></td>
            <td><%= link_to 'Apagar', form_irr_path(form_irr), method: :delete, data: {:confirm => "Tem a certeza que quer apagar o formul치rio?"} %></td>
            <td><% if form_irr.validated %> <span class="glyphicon glyphicon-ok"></span> <% else %> <span class="glyphicon glyphicon-remove"></span> <% end %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @form_irrs, :previous_label => 'Anterior', :next_label => 'Seguinte' %>
</div>

<%= render 'common/footer' %>