<%= render 'common/header' %>

</head>

<body>

<%= render 'common/navbar' %>

<div class="container">

  <h1>Formulário de Índice de Reabilitação de Rios <%= link_to @form_irr.nomeRio, rio_path(@form_irr.idRio), class: "btn btn-primary" %></h1>

  <table class="table table-hover table-striped">
    <tr>
      <th>ID formulário</th>
      <th>Código utilizador</th>
      <th>Nome Utilizador</th>
      <th>Criado em</th>
      <th>Última edição em</th>
    </tr>
    <tr>
      <td><%= @form_irr.id %></td>
      <td><%= @form_irr.user_id %></td>
      <td><%= User.find(@form_irr.user_id).nome %></td>
      <td><%= @form_irr.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
      <td><%= @form_irr.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
    </tr>
  </table>

  <%= render 'form' %>

  <%= link_to 'Editar este formulário', edit_form_irr_path(@form_irr) %> </br>
  <%= link_to 'Voltar para os meus formulários', form_irrs_path %>
</div>

<%= render 'common/footer' %>
<%= javascript_include_tag 'form_irr' %>