<%= render 'common/header' %>

</head>

<body>

	<%= render 'common/navbar' %>

	<div class="container">
		<p>
			<strong>ID:</strong>
			<%= @form_irr.id %>
		</p>

		<p>
			<strong>Id do utilizador:</strong>
			<%= @form_irr.user_id %>
		</p>

		<p>
			<strong>Criado em:</strong>
			<%= @form_irr.created_at %>
		</p>

		<p>
			<strong>Última edição em:</strong>
			<%= @form_irr.updated_at %>
		</p>

		<%= render 'form' %>

    <%= link_to 'Voltar para os meus formulários', form_irrs_path %>
	</div>

	<%= render 'common/footer' %>