<%= render 'common/header' %>

</head>

<body>

<%= render 'common/navbar' %>

<div class="container">
  <p>
    <strong>ID:</strong>
    <%= @form_irr.id %>
  </p>

  <p>
    <strong>Utilizador:</strong>
    <%= @form_irr.user_id %> -
    <%= User.find(@form_irr.user_id).nome %>
  </p>

  <%
     t = Time.current
     cur_timezone = t.zone
  %>

  <p>
    <strong>Criado em:</strong>
    <%= @form_irr.created_at.in_time_zone(cur_timezone).strftime("%d/%m/%Y - %H:%M") %>
  </p>

  <p>
    <strong>Última edição em:</strong>
    <%= @form_irr.updated_at.strftime("%d/%m/%Y - %H:%M") %>
  </p>

  <%= render 'form' %>

  <%= link_to 'Editar este formulário', edit_form_irr_path(@form_irr) %> </br>
  <%= link_to 'Voltar para os meus formulários', form_irrs_path %>
</div>

<%= render 'common/footer' %>